<section>
    <div class="container-fluid" style="padding-top: 3vh;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <center>
                    <h5 style="font-size:18px;margin-bottom: 40px;background:#03A685;color:#fff;padding:10px 0;">CREATE
                        NEW POST</h5>
                </center>
                <form id="blog-form">
                    <input type="file" name="file"
                        style="margin-bottom: 30px;border: 1px solid #ced4da;color: #495057;width:49%;padding:16px 10px;">
                    <input type="file" name="file1"
                        style="margin-bottom: 30px;border: 1px solid #ced4da;color: #495057;width:49%;padding:16px 10px;">
                    <input type="text" name="title" placeholder="TITLE" class="form-control"
                        style="font-size: 14px;border-radius:0;padding:24px 10px;margin-bottom:30px;" required>
                    <textarea class="form-control" name="description" id="description" rows="10"
                        style="width: 100%;border-radius:0;font-size: 14px;" required>DESCRIPTION</textarea>
                    <div id="blog-error" style="color:red;font-size:13px;"></div>
                    <div id="blog-success" style="color:green;font-size:13px;"></div>
                    <button id="blog-btn"
                        style="margin-top:30px;width:100%;background:#FF4747;color:#fff;border:none;padding:10px 0;">ADD
                        POST</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    //add products
    function processForm(e) {
        e.preventDefault();

        $('#blog-btn').empty().append(`<img src="/img/loader.svg">`);

        var myform = document.getElementById("blog-form");
        let formData = new FormData(myform);

        $.ajax({
            url: '/api/add-blog',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data, textStatus, jQxhr) {
                if (data.success === true) {
                    $('#blog-btn').empty().append(`ADD PRODUCT`);
                    $('#blog-error').empty();
                    $('#blog-success').empty().append(`<div style="margin-top:30px;">Blog Added Successfully</div>`);
                } else if (data.success === false) {
                    $('#blog-btn').empty().append(`ADD PRODUCT`);
                    $('#blog-success').empty();
                    $('#blog-error').empty().append(`<div style="margin-top:30px;">${data.message}</div>`);
                    console.log(data)
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    $('#blog-form').submit(processForm);
</script>