<section>
    <div class="container-fluid" style="padding-top: 3vh;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <center>
                    <h5 style="font-size:18px;margin-bottom: 40px;background:#03A685;color:#fff;padding:10px 0;">NEW
                        PRODUCT</h5>
                </center>
                <form id="product-form">
                    <input type="file" name="file"
                        style="margin-bottom: 30px;border: 1px solid #ced4da;color: #495057;width:49%;padding:16px 10px;">
                    <input type="file" name="file1"
                        style="margin-bottom: 30px;border: 1px solid #ced4da;color: #495057;width:49%;padding:16px 10px;">
                    <input type="file" name="file2"
                        style="margin-bottom: 30px;border: 1px solid #ced4da;color: #495057;width:49%;padding:16px 10px;">
                    <input type="file" name="file3"
                        style="margin-bottom: 30px;border: 1px solid #ced4da;color: #495057;width:49%;padding:16px 10px;">
                    <input type="file" name="file4"
                        style="margin-bottom: 30px;border: 1px solid #ced4da;color: #495057;width:49%;padding:16px 10px;">
                    <input type="text" name="name" placeholder="NAME" class="form-control"
                        style="font-size: 14px;border-radius:0;padding:24px 10px;margin-bottom:30px;" required>
                    <input type="text" name="price" placeholder="PRICE" class="form-control"
                        style="font-size: 14px;border-radius:0;padding:24px 10px;margin-bottom:30px;" required>
                    <input type="text" name="cutoffprice" placeholder="CUT-OFF-PRICE" class="form-control"
                        style="font-size: 14px;border-radius:0;padding:24px 10px;margin-bottom:30px;" required>
                    <input type="text" name="stock" placeholder="STOCK" class="form-control"
                        style="font-size: 14px;border-radius:0;padding:24px 10px;margin-bottom:30px;" required>
                    <textarea class="form-control" name="description" id="description" rows="10"
                        style="width: 100%;border-radius:0;font-size: 14px;">DESCRIPTION</textarea>
                    <div style="margin-top:30px;">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="shipping" value="true" checked>
                            <label class="form-check-label">SHIPPING-YES</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="shipping" value="false">
                            <label class="form-check-label">SHIPPING-NO</label>
                        </div>
                    </div>
                    <select id="category-select" class="form-control" name="category"
                        style="font-size: 14px;border-radius:0;height:48px;margin-top:30px;" required>
                        <option value="">CATEGORY</option>
                    </select>
                    <select id="subcategory-select" class="form-control" name="subcategory"
                        style="font-size: 14px;border-radius:0;height:48px;margin-top:30px;" required>
                        <option value="">SUBCATEGORY</option>
                    </select>
                    <select id="womensubcategory-select" class="form-control" name="womensubcategory"
                        style="font-size: 14px;border-radius:0;height:48px;margin-top:30px;" required>
                        <option value="">WOMEN SUBCATEGORY</option>
                    </select>
                    <select id="color-select" class="form-control" name="color"
                        style="font-size: 14px;border-radius:0;height:48px;margin-top:30px;" required>
                        <option value="">COLOR</option>
                    </select>
                    <div style="margin-top:30px;">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="ssize" value="true" required>
                            <label class="form-check-label">S-SIZE-YES</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ssize" value="false">
                            <label class="form-check-label">S-SIZE-NO</label>
                        </div>
                    </div>
                    <div style="margin-top:30px;">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="msize" value="true" required>
                            <label class="form-check-label">M-SIZE-YES</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="msize" value="false">
                            <label class="form-check-label">M-SIZE-NO</label>
                        </div>
                    </div>
                    <div style="margin-top:30px;">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="lsize" value="true" required>
                            <label class="form-check-label">L-SIZE-YES</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="lsize" value="false">
                            <label class="form-check-label">L-SIZE-NO</label>
                        </div>
                    </div>
                    <div style="margin-top:30px;">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="xlsize" value="true" required>
                            <label class="form-check-label">XL-SIZE-YES</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="xlsize" value="false">
                            <label class="form-check-label">XL-SIZE-NO</label>
                        </div>
                    </div>
                    <select id="seller-select" class="form-control" name="seller"
                        style="font-size: 14px;border-radius:0;height:48px;margin-top:30px;" required>
                        <option value="">SELLER</option>
                    </select>
                    <div style="margin-top:30px;">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="available" value="true" checked>
                            <label class="form-check-label">AVAILABLE-YES</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="available" value="false">
                            <label class="form-check-label">AVAILABLE-NO</label>
                        </div>
                    </div>
                    <div style="margin-top:30px;">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="cod" value="true">
                            <label class="form-check-label">COD-YES</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cod" value="false" checked>
                            <label class="form-check-label">COD-NO</label>
                        </div>
                    </div>
                    <div style="margin-top:30px;">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="return" value="true" checked>
                            <label class="form-check-label">RETURN-YES</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="return" value="false">
                            <label class="form-check-label">RETURN-NO</label>
                        </div>
                    </div>
                    <div id="product-error" style="color:red;font-size:13px;"></div>
                    <div id="product-success" style="color:green;font-size:13px;"></div>
                    <button id="product-btn"
                        style="margin-top:30px;width:100%;background:#FF4747;color:#fff;border:none;padding:10px 0;">ADD
                        PRODUCT</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    $.getJSON("/api/product/categories", function (data) {
        $.each(data, function (i, category) {
            $('#category-select').append(`<option value="${category._id}">${category.name}</option>`)
        })
    })

    $.getJSON("/api/product/subcategories", function (data) {
        $.each(data, function (i, subcategory) {
            $('#subcategory-select').append(`<option value="${subcategory._id}">${subcategory.name}</option>`)
        })
    })

    $.getJSON("/api/product/womensubcategories", function (data) {
        $.each(data, function (i, womensubcategory) {
            $('#womensubcategory-select').append(`<option value="${womensubcategory._id}">${womensubcategory.name}</option>`)
        })
    })

    $.getJSON("/api/product/colors", function (data) {
        $.each(data, function (i, color) {
            $('#color-select').append(`<option value="${color._id}">${color.name}</option>`)
        })
    })

    $.getJSON("/api/product/sellers", function (data) {
        $.each(data, function (i, seller) {
            $('#seller-select').append(`<option value="${seller._id}">${seller.name}</option>`)
        })
    })






    //add products
    function processForm(e) {
        e.preventDefault();

        $('#product-btn').empty().append(`<img src="/img/loader.svg">`);

        var myform = document.getElementById("product-form");
        let formData = new FormData(myform);

        $.ajax({
            url: '/api/product/article',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data, textStatus, jQxhr) {
                if (data.success === true) {
                    $('#product-btn').empty().append(`ADD PRODUCT`);
                    $('#product-error').empty();
                    $('#product-success').empty().append(`<div style="margin-top:30px;">Product Added Successfully</div>`);
                } else if (data.success === false) {
                    $('#product-btn').empty().append(`ADD PRODUCT`);
                    $('#product-success').empty();
                    $('#product-error').empty().append(`<div style="margin-top:30px;">${data.message}</div>`);
                    console.log(data)
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    $('#product-form').submit(processForm);
</script>