<section>
    <center>
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="padding-top: 45px;">
                    <h5 style="font-size:18px;margin-bottom: 20px;background:#03A685;color:#fff;padding:10px 0;">
                        CATEGORIES</h5>
                    <form id="category-form">
                        <input type="text" name="name" placeholder="NAME" class="form-control"
                            style="font-size: 14px;border-radius:0;padding:20px 10px;margin-bottom:10px;" required>
                        <div id="category-error" style="color:red;font-size:13px;"></div>
                        <div id="category-success" style="color:green;font-size:13px;"></div>
                        <button id="category-btn"
                            style="margin-top:10px;width:100%;background:#f6f6f6;color:#555;border:1px solid #ccc;padding:10px 0;">CREATE</button>
                    </form>

                    <div id="category-list" style="text-align: left;margin:30px 0 0 0;">

                    </div>

                    <div style="background:#ddd;height:12px;margin:30px 0 0 0;"></div>
                </div>

                <div class="col-md-6" style="padding-top: 45px;">
                    <h5 style="font-size:18px;margin-bottom: 20px;background:#ff3e6c;color:#fff;padding:10px 0;">
                        SUB CATEGORIES</h5>
                    <form id="subcategory-form">
                        <input type="text" name="name" placeholder="NAME" class="form-control"
                            style="font-size: 14px;border-radius:0;padding:20px 10px;margin-bottom:10px;" required>
                        <div id="subcategory-error" style="color:red;font-size:13px;"></div>
                        <div id="subcategory-success" style="color:green;font-size:13px;"></div>
                        <button id="subcategory-btn"
                            style="margin-top:10px;width:100%;background:#f6f6f6;color:#555;border:1px solid #ccc;padding:10px 0;">CREATE</button>
                    </form>

                    <div id="subcategory-list" style="text-align: left;margin:30px 0 0 0;">

                    </div>

                    <div style="background:#ddd;height:12px;margin:30px 0 0 0;"></div>
                </div>

                <div class="col-md-6" style="padding-top: 45px;">
                    <h5 style="font-size:18px;margin-bottom: 20px;background:#FF4747;color:#fff;padding:10px 0;">
                        WOMEN SUB CATEGORIES</h5>
                    <form id="womensubcategory-form">
                        <input type="text" name="name" placeholder="NAME" class="form-control"
                            style="font-size: 14px;border-radius:0;padding:20px 10px;margin-bottom:10px;" required>
                        <div id="womensubcategory-error" style="color:red;font-size:13px;"></div>
                        <div id="womensubcategory-success" style="color:green;font-size:13px;"></div>
                        <button id="womensubcategory-btn"
                            style="margin-top:10px;width:100%;background:#f6f6f6;color:#555;border:1px solid #ccc;padding:10px 0;">CREATE</button>
                    </form>

                    <div id="womensubcategory-list" style="text-align: left;margin:30px 0 0 0;">

                    </div>

                    <div style="background:#ddd;height:12px;margin:30px 0 0 0;"></div>
                </div>

                <div class="col-md-6" style="padding-top: 45px;">
                    <h5 style="font-size:18px;margin-bottom: 20px;background:#ff3e6c;color:#fff;padding:10px 0;">
                        ACCESSORIES SUB CATEGORIES</h5>
                    <form id="accessoriessubcategory-form">
                        <input type="text" name="name" placeholder="NAME" class="form-control"
                            style="font-size: 14px;border-radius:0;padding:20px 10px;margin-bottom:10px;" required>
                        <div id="accessoriessubcategory-error" style="color:red;font-size:13px;"></div>
                        <div id="accessoriessubcategory-success" style="color:green;font-size:13px;"></div>
                        <button id="accessoriessubcategory-btn"
                            style="margin-top:10px;width:100%;background:#f6f6f6;color:#555;border:1px solid #ccc;padding:10px 0;">CREATE</button>
                    </form>

                    <div id="accessoriessubcategory-list" style="text-align: left;margin:30px 0 0 0;">

                    </div>

                    <div style="background:#ddd;height:12px;margin:30px 0 0 0;"></div>
                </div>

                <div class="col-md-6" style="padding-top: 45px;">
                    <h5 style="font-size:18px;margin-bottom: 20px;background:#FF4747;color:#fff;padding:10px 0;">
                        COLORS</h5>
                    <form id="color-form">
                        <input type="text" name="name" placeholder="NAME" class="form-control"
                            style="font-size: 14px;border-radius:0;padding:20px 10px;margin-bottom:10px;" required>
                        <div id="color-error" style="color:red;font-size:13px;"></div>
                        <div id="color-success" style="color:green;font-size:13px;"></div>
                        <button id="color-btn"
                            style="margin-top:10px;width:100%;background:#f6f6f6;color:#555;border:1px solid #ccc;padding:10px 0;">CREATE</button>
                    </form>

                    <div id="color-list" style="text-align: left;margin:30px 0 0 0;">

                    </div>

                    <div style="background:#ddd;height:12px;margin:30px 0 0 0;"></div>
                </div>

                <div class="col-md-6" style="padding-top: 45px;">
                    <h5 style="font-size:18px;margin-bottom: 20px;background:#03A685;color:#fff;padding:10px 0;">
                        SIZES</h5>
                    <form id="size-form">
                        <input type="text" name="name" placeholder="NAME" class="form-control"
                            style="font-size: 14px;border-radius:0;padding:20px 10px;margin-bottom:10px;" required>
                        <div id="size-error" style="color:red;font-size:13px;"></div>
                        <div id="size-success" style="color:green;font-size:13px;"></div>
                        <button id="size-btn"
                            style="margin-top:10px;width:100%;background:#f6f6f6;color:#555;border:1px solid #ccc;padding:10px 0;">CREATE</button>
                    </form>

                    <div id="size-list" style="text-align: left;margin:30px 0 0 0;">

                    </div>

                    <div style="background:#ddd;height:12px;margin:30px 0 0 0;"></div>
                </div>

                <div class="col-md-6" style="padding-top: 45px;margin-bottom:45px;">
                    <h5 style="font-size:18px;margin-bottom: 20px;background:#ff3e6c;color:#fff;padding:10px 0;">
                        SELLERS</h5>
                    <form id="seller-form">
                        <input type="text" name="name" placeholder="NAME" class="form-control"
                            style="font-size: 14px;border-radius:0;padding:20px 10px;margin-bottom:10px;" required>
                        <div id="seller-error" style="color:red;font-size:13px;"></div>
                        <div id="seller-success" style="color:green;font-size:13px;"></div>
                        <button id="seller-btn"
                            style="margin-top:10px;width:100%;background:#f6f6f6;color:#555;border:1px solid #ccc;padding:10px 0;">CREATE</button>
                    </form>

                    <div id="seller-list" style="text-align: left;margin:30px 0 0 0;">

                    </div>
                </div>
            </div>
        </div>
    </center>
</section>

<script>
    const getCategories = () => {
        $.getJSON(`/api/product/categories`, function (data) {
            data.forEach((category => {
                $('#category-list').append(`<div>
                    <form>
                        <input type="text" name="name" value="${category.name}" placeholder="${category.name}" style="font-size: 14px;border-radius:0;padding:10px;margin-bottom:10px;" required>
                    </form>
                </div>`)
            }))
        })
    }
    getCategories();

    const getSubCategories = () => {
        $.getJSON(`/api/product/subcategories`, function (data) {
            data.forEach((subcategory => {
                $('#subcategory-list').append(`<div>
                    <form>
                        <input type="text" name="name" value="${subcategory.name}" placeholder="${subcategory.name}" style="font-size: 14px;border-radius:0;padding:10px;margin-bottom:10px;" required>
                    </form>
                </div>`)
            }))
        })
    }
    getSubCategories();

    const getWomenSubCategories = () => {
        $.getJSON(`/api/product/womensubcategories`, function (data) {
            data.forEach((womensubcategory => {
                $('#womensubcategory-list').append(`<div>
                    <form>
                        <input type="text" name="name" value="${womensubcategory.name}" placeholder="${womensubcategory.name}" style="font-size: 14px;border-radius:0;padding:10px;margin-bottom:10px;" required>
                    </form>
                </div>`)
            }))
        })
    }
    getWomenSubCategories();

    const getAccessoriesSubCategories = () => {
        $.getJSON(`/api/product/accessoriessubcategories`, function (data) {
            data.forEach((accessoriessubcategory => {
                $('#accessoriessubcategory-list').append(`<div>
                    <form>
                        <input type="text" name="name" value="${accessoriessubcategory.name}" placeholder="${accessoriessubcategory.name}" style="font-size: 14px;border-radius:0;padding:10px;margin-bottom:10px;" required>
                    </form>
                </div>`)
            }))
        })
    }
    getAccessoriesSubCategories();

    const getColors = () => {
        $.getJSON(`/api/product/colors`, function (data) {
            data.forEach((color => {
                $('#color-list').append(`<div>
                    <form>
                        <input type="text" name="name" value="${color.name}" placeholder="${color.name}" style="font-size: 14px;border-radius:0;padding:10px;margin-bottom:10px;" required>
                    </form>
                </div>`)
            }))
        })
    }
    getColors();

    const getSizes = () => {
        $.getJSON(`/api/product/sizes`, function (data) {
            data.forEach((size => {
                $('#size-list').append(`<div>
                    <form>
                        <input type="text" name="name" value="${size.name}" placeholder="${size.name}" style="font-size: 14px;border-radius:0;padding:10px;margin-bottom:10px;" required>
                    </form>
                </div>`)
            }))
        })
    }
    getSizes();

    const getSellers = () => {
        $.getJSON(`/api/product/sellers`, function (data) {
            data.forEach((seller => {
                $('#seller-list').append(`<div>
                    <form>
                        <input type="text" name="name" value="${seller.name}" placeholder="${seller.name}" style="font-size: 14px;border-radius:0;padding:10px;margin-bottom:10px;" required>
                    </form>
                </div>`)
            }))
        })
    }
    getSellers();




    //create category filter
    function processForm(e) {
        e.preventDefault();

        $('#category-btn').empty().append(`<img src="/img/loader.svg">`);

        var myform = document.getElementById("category-form");
        let formData = new FormData(myform);

        $.ajax({
            url: '/api/product/category',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data, textStatus, jQxhr) {
                if (data.success === true) {
                    $('#category-btn').empty().append(`CREATE`);
                    $('#category-error').empty();
                    $('#category-success').empty().append(`<div style="margin-top:10px;">Filter Added Successfully</div>`);

                    $('#category-list').empty();
                    getCategories();
                } else if (data.success === false) {
                    $('#category-btn').empty().append(`CREATE`);
                    $('#category-success').empty();
                    $('#category-error').empty().append(`<div style="margin-top:10px;">${data.err.errmsg}</div>`);
                    console.log(data)
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    $('#category-form').submit(processForm);




    //create subcategory filter
    function processForm1(e) {
        e.preventDefault();

        $('#subcategory-btn').empty().append(`<img src="/img/loader.svg">`);

        var myform = document.getElementById("subcategory-form");
        let formData = new FormData(myform);

        $.ajax({
            url: '/api/product/subcategory',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data, textStatus, jQxhr) {
                if (data.success === true) {
                    $('#subcategory-btn').empty().append(`CREATE`);
                    $('#subcategory-error').empty();
                    $('#subcategory-success').empty().append(`<div style="margin-top:10px;">Filter Added Successfully</div>`);

                    $('#subcategory-list').empty();
                    getSubCategories();
                } else if (data.success === false) {
                    $('#subcategory-btn').empty().append(`CREATE`);
                    $('#subcategory-success').empty();
                    $('#subcategory-error').empty().append(`<div style="margin-top:10px;">${data.err.errmsg}</div>`);
                    console.log(data)
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    $('#subcategory-form').submit(processForm1);




    //create womensubcategory filter
    function processForm2(e) {
        e.preventDefault();

        $('#womensubcategory-btn').empty().append(`<img src="/img/loader.svg">`);

        var myform = document.getElementById("womensubcategory-form");
        let formData = new FormData(myform);

        $.ajax({
            url: '/api/product/womensubcategory',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data, textStatus, jQxhr) {
                if (data.success === true) {
                    $('#womensubcategory-btn').empty().append(`CREATE`);
                    $('#womensubcategory-error').empty();
                    $('#womensubcategory-success').empty().append(`<div style="margin-top:10px;">Filter Added Successfully</div>`);

                    $('#womensubcategory-list').empty();
                    getWomenSubCategories();
                } else if (data.success === false) {
                    $('#womensubcategory-btn').empty().append(`CREATE`);
                    $('#womensubcategory-success').empty();
                    $('#womensubcategory-error').empty().append(`<div style="margin-top:10px;">${data.err.errmsg}</div>`);
                    console.log(data)
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    $('#womensubcategory-form').submit(processForm2);




    //create accessoriessubcategory filter
    function processForm3(e) {
        e.preventDefault();

        $('#accessoriessubcategory-btn').empty().append(`<img src="/img/loader.svg">`);

        var myform = document.getElementById("accessoriessubcategory-form");
        let formData = new FormData(myform);

        $.ajax({
            url: '/api/product/accessoriessubcategory',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data, textStatus, jQxhr) {
                if (data.success === true) {
                    $('#accessoriessubcategory-btn').empty().append(`CREATE`);
                    $('#accessoriessubcategory-error').empty();
                    $('#accessoriessubcategory-success').empty().append(`<div style="margin-top:10px;">Filter Added Successfully</div>`);

                    $('#accessoriessubcategory-list').empty();
                    getAccessoriesSubCategories();
                } else if (data.success === false) {
                    $('#accessoriessubcategory-btn').empty().append(`CREATE`);
                    $('#accessoriessubcategory-success').empty();
                    $('#accessoriessubcategory-error').empty().append(`<div style="margin-top:10px;">${data.err.errmsg}</div>`);
                    console.log(data)
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    $('#accessoriessubcategory-form').submit(processForm3);




    //create color filter
    function processForm4(e) {
        e.preventDefault();

        $('#color-btn').empty().append(`<img src="/img/loader.svg">`);

        var myform = document.getElementById("color-form");
        let formData = new FormData(myform);

        $.ajax({
            url: '/api/product/color',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data, textStatus, jQxhr) {
                if (data.success === true) {
                    $('#color-btn').empty().append(`CREATE`);
                    $('#color-error').empty();
                    $('#color-success').empty().append(`<div style="margin-top:10px;">Filter Added Successfully</div>`);

                    $('#color-list').empty();
                    getColors();
                } else if (data.success === false) {
                    $('#color-btn').empty().append(`CREATE`);
                    $('#color-success').empty();
                    $('#color-error').empty().append(`<div style="margin-top:10px;">${data.err.errmsg}</div>`);
                    console.log(data)
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    $('#color-form').submit(processForm4);




    //create size filter
    function processForm5(e) {
        e.preventDefault();

        $('#size-btn').empty().append(`<img src="/img/loader.svg">`);

        var myform = document.getElementById("size-form");
        let formData = new FormData(myform);

        $.ajax({
            url: '/api/product/size',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data, textStatus, jQxhr) {
                if (data.success === true) {
                    $('#size-btn').empty().append(`CREATE`);
                    $('#size-error').empty();
                    $('#size-success').empty().append(`<div style="margin-top:10px;">Filter Added Successfully</div>`);

                    $('#size-list').empty();
                    getSizes();
                } else if (data.success === false) {
                    $('#size-btn').empty().append(`CREATE`);
                    $('#size-success').empty();
                    $('#size-error').empty().append(`<div style="margin-top:10px;">${data.err.errmsg}</div>`);
                    console.log(data)
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    $('#size-form').submit(processForm5);




    //create seller filter
    function processForm6(e) {
        e.preventDefault();

        $('#seller-btn').empty().append(`<img src="/img/loader.svg">`);

        var myform = document.getElementById("seller-form");
        let formData = new FormData(myform);

        $.ajax({
            url: '/api/product/seller',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data, textStatus, jQxhr) {
                if (data.success === true) {
                    $('#seller-btn').empty().append(`CREATE`);
                    $('#seller-error').empty();
                    $('#seller-success').empty().append(`<div style="margin-top:10px;">Filter Added Successfully</div>`);

                    $('#seller-list').empty();
                    getSellers();
                } else if (data.success === false) {
                    $('#seller-btn').empty().append(`CREATE`);
                    $('#seller-success').empty();
                    $('#seller-error').empty().append(`<div style="margin-top:10px;">${data.err.errmsg}</div>`);
                    console.log(data)
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    $('#seller-form').submit(processForm6);
</script>