<section style="padding: 4vh 0;">
    <div class="container">
        <img src="/img/icon/tick.svg" style="width: 35px;">
        <div style="position: relative;top:-41px;left:55px;margin-bottom:-18px;">
            <strong style="font-size:17px;">Order successful</strong>
            <div style="font-size: 13.5px;margin-top:6px;"><a href="/my-orders" style="color:#20bd99;">Press here to Track your order</a></div>
        </div>

        <div style="font-size: 13.5px;border-top:1px solid #ddd;margin-bottom:20px;padding-top:20px;">
            Your order is currently being processed. You will recieve an order confirmation call shortly with the expected delivery date for your items.
        </div>

        <div style="font-size: 13.5px;">
            <span>TIP: </span>
            Manage your orders from the <a href="/my-orders" style="color:#20bd99;">my orders</a> section.
        </div>
    </div>

    <div style="background:#F5F5F6;height:12px;margin:15px 0 0 0;"></div>

    <div class="container">
        <div style="font-size: 13.5px;color:#999;margin-top:20px;">
            <strong>Note: </strong>
            We do not demand your banking and card details verbally or telephonically. Please do not give your details to fraudsters and imposters falsely claiming to be calling on Nepscart behalf.
        </div>
    </div>
</section>