<section style="padding: 6vh 0 6vh 0;">
    <div class="container">
        <center>
            <div><img src="/img/icon/tick.svg" style="width: 37px;"></div>
            <div style="color:#30c51c;font-weight: bold;margin-top:13px;padding-bottom:10px;font-size: 18px;">Order
                Successfully Placed</div>
        </center>
    </div>

    <hr>

    <div class="container">
        <center>
            <div style="font-size: 14px;padding-top:10px;margin-bottom:20px;">Thank you for shopping with us, <br> an order confirmation call will soon be placed by us with expected delivery dates.</div>

            <div class="row">
                <div class="col-md-3" style="margin-bottom: 25px;">
                    <div style="border: 1px solid #ddd;padding: 30px 0 20px 0;">
                        <a class="btn" href="/my-orders"
                            style="background: none;border: 2px solid #FF4747;color: #FF4747;font-weight: bold;padding: 9px 17px;font-size: 14px;width: 140px;border-radius: 0;">
                            Track Order
                        </a>
                        <div style="margin-top: 19px;font-size: 14px;">
                            Manage your orders from <br> this section
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-bottom: 25px;">
                    <div style="border: 1px solid #ddd;padding: 30px 0 20px 0;">
                        <a class="btn" href="/nespscartpoints"
                            style="background: none;border: 2px solid #FF4747;color: #FF4747;font-weight: bold;padding: 9px 17px;font-size: 14px;width: 140px;border-radius: 0;">
                            Nepscart Points
                        </a>
                        <div style="margin-top: 19px;font-size: 14px;">
                            Check your Cashback Points from <br> this section
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-bottom: 25px;">
                    <div style="border: 1px solid #ddd;padding: 30px 0 20px 0;">
                        <a class="btn" href="/helpcentre"
                            style="background: none;border: 2px solid #FF4747;color: #FF4747;font-weight: bold;padding: 9px 17px;font-size: 14px;width: 140px;border-radius: 0;">
                            Get Help
                        </a>
                        <div style="margin-top: 19px;font-size: 14px;">
                            Manage your orders from <br> this section
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-bottom: 25px;">
                    <div style="border: 1px solid #ddd;padding: 30px 0 20px 0;">
                        <a class="btn" href="/my-orders"
                            style="background: none;border: 2px solid #FF4747;color: #FF4747;font-weight: bold;padding: 9px 17px;font-size: 14px;width: 140px;border-radius: 0;">
                            Blog
                        </a>
                        <div style="margin-top: 19px;font-size: 14px;">
                            Manage your orders from <br> this section
                        </div>
                    </div>
                </div>
            </div>

            <div style="font-size: 13.5px;color: #777;">Note: We do not demand your banking and card
                details verbally or telephonically. <br> Please do not give your details to fraudsters and imposters falsely
                claiming to be calling on Nepscart behalf.</div>

            <div style="margin-top: 30px;">
                <a href="/"
                    style="background: #20bd99;border: none;color: #fff;padding: 9px 52px;font-size: 14px;">
                    Home
                </a>
            </div>
        </center>
    </div>
</section>