<section class="display-pc">
    <div style="padding: 20px 0;margin-top: 35px;background: #f9f9f9;">
        <center>
            <button
                style="background: #5bcbbd;border: none;color: #fff;padding: 11px 27px;border-radius: 25px;font-weight: bold;font-size: 14.5px;">
                Help Centre
            </button>
            <a href="https://fb.me/nepscart" target="_blank"><img
                    src="https://www.squarebird.co.uk/wp-content/uploads/Facebook.png"
                    style="width: 50px;margin-left: 30px;"></a>
            <a href="/" target="_blank"><img src="https://www.squarebird.co.uk/wp-content/uploads/LinkedIn-1.png"
                    style="width: 43px;margin-left: 30px;"></a>
            <a href="/" target="_blank"><img src="https://www.squarebird.co.uk/wp-content/uploads/Instagram.png"
                    style="width: 43px;margin-left: 30px;"></a>
        </center>
    </div>
</section>

<footer class="shadow">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 footer-link">
                <h6>Useful Links</h6>
                <a href="/helpcentre">Contact Us</a>
                <a href="/aboutus">About Us</a>
                <a href="/blogs">Blog</a>
                <a href="/helpcentre">FAQ</a>
                <a href="/partners">Sell on Nepscart</a>
            </div>
            <div class="col-md-3 footer-link">
                <h6>Site Policy</h6>
                <a href="/termsofservice">Terms Of Service</a>
                <a href="/privacypolicy">Privacy</a>
                <a href="/returnpolicy">Return Policy</a>
            </div>
            <div class="col-md-3 footer-social">
                <h6>Keep in Touch</h6>
                <div>
                    <a href="https://fb.me/nepscart" target="_blank"><img src="/img/icon/facebook.svg"
                            style="width: 19px;"></a>
                    <a href="/" target="_blank"><img src="/img/icon/youtube.svg" style="width: 24px;"></a>
                    <a href="/" target="_blank"><img src="/img/icon/insta.svg" style="width: 20px;"></a>
                </div>
            </div>
            <div class="col-md-3 footer-city">
                <h6>Cities we deliver to</h6>
                <div>
                    Nepalgunj, Kathmandu, Pokhara, Biratnagar, Butwal, Dhangadi, Lumbini, Bhaktapur, Lalitpur etc
                </div>
            </div>
        </div>

        <div style="margin-top: 40px;color:#666;">
            <span>In case of any concern, <a href="/helpcentre" style="color: rgb(14, 93, 184);">Contact Us</a></span>
            <span style="float: right;">© 2020 www.nepscart.com. All rights reserved.</span>
        </div>
    </div>
</footer>