<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-link">
                <h6>USEFUL LINKS</h6>
                <a href="/helpcentre">Contact Us</a>
                <a href="/aboutus">About Us</a>
                <a href="/blogs">Blog</a>
                <a href="/helpcentre">FAQ</a>
                <a href="/partners">Partners</a>
            </div>
            <div class="col-md-3 footer-link">
                <h6>SITE POLICY</h6>
                <a href="/termsofservice">Terms Of Service</a>
                <a href="/privacypolicy">Privacy</a>
                <a href="/returnpolicy">Return Policy</a>
            </div>
            <div class="col-md-3 footer-social">
                <h6>KEEP IN TOUCH</h6>
                <div>
                    <a href="https://fb.me/nepscart"><img src="/img/icon/facebook.svg" style="width: 19px;"></a>
                    <a href="/"><img src="/img/icon/youtube.svg" style="width: 24px;"></a>
                    <a href="/"><img src="/img/icon/insta.svg" style="width: 20px;"></a>
                </div>
            </div>
            <div class="col-md-3 footer-secure">
                <div>
                    <img src="/img/icon/shield.svg" style="width: 24px;"> <strong>100% Original</strong> guarantee <br>
                    for all products at myntra.com
                </div>
                <div>
                    <img src="/img/icon/return.svg" style="width: 24px;"> <strong>Return within 7days</strong> of <br>
                    receiving your order
                </div>
                <div>
                    <img src="/img/icon/truck.svg" style="width: 24px;"> <strong>Get free delivery</strong> for every
                    <br> order above Rs. 1199
                </div>
            </div>
        </div>

        <div style="margin-top: 40px;">
            <span>In case of any concern, <a href="/helpcentre">Contact Us</a></span>
            <span style="float: right;">© 2020 www.nepscart.com. All rights reserved.</span>
        </div>
    </div>
</footer>