<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-link">
                <h6>Online Shopping</h6>
                <a href="/">Men</a>
                <a href="/">Women</a>
                <a href="/">Kids</a>
                <a href="/">Home & Living</a>
                <a href="/">Gaming</a>
            </div>
            <div class="col-md-3 footer-link">
                <h6>USEFUL LINKS</h6>
                <a href="/">Contact Us</a>
                <a href="/">FAQ</a>
                <a href="/">T&C</a>
                <a href="/">Returns</a>
                <a href="/">Privacy policy</a>
                <a href="/">Blogs</a>
                <a href="/">Careers</a>
            </div>
            <div class="col-md-3 footer-social">
                <h6>KEEP IN TOUCH</h6>
                <div>
                    <a href="/"><img src="/img/icon/facebook.svg" style="width: 19px;"></a>
                    <a href="/"><img src="/img/icon/youtube.svg" style="width: 24px;"></a>
                    <a href="/"><img src="/img/icon/insta.svg" style="width: 20px;"></a>
                </div>
            </div>
            <div class="col-md-3 footer-secure">
                <div>
                    <img src="/img/icon/shield.svg" style="width: 24px;"> <strong>100% Original</strong> guarantee <br>
                    for all products at myntra.com
                </div>
                <div>
                    <img src="/img/icon/return.svg" style="width: 24px;"> <strong>Return within 7days</strong> of <br>
                    receiving your order
                </div>
                <div>
                    <img src="/img/icon/truck.svg" style="width: 24px;"> <strong>Get free delivery</strong> for every
                    <br> order above Rs. 1199
                </div>
            </div>
        </div>

        <div style="margin-top: 40px;">
            <span>In case of any concern, <a href="">Contact Us</a></span>
            <span style="float: right;">© 2020 www.nepscart.com. All rights reserved.</span>
        </div>
    </div>
</footer>