<section class="display-pc" style="padding-bottom:73px;">
    <header class="fixed-top" style="background: #fff;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <a href="/" style="font-size:25px;color:#444;font-weight:bold;">
                        <span>Nepscart</span> <img src="/img/logo.svg"
                            style="width: 24px;position:relative;top:-20px;left:-18px;">
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="nav">
                        <a href="/">Home</a>
                        <a href="/shop/all">Shop</a>
                        <a href="/nepscartpoints">My Points</a>
                        <a href="/blogs">Blog</a>
                        <a href="/helpcentre">Contact</a>
                        <a href="/partners">Partner</a>
                    </div>
                </div>
                <div id="nav-pc" class="col-md-4" style="text-align:right;padding-top:6px;">

                </div>
            </div>
        </div>
    </header>
</section>

<section class="display-mobile" style="padding-bottom:60.5px;">
    <header class="fixed-top" style="background: #fff;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-7">
                    <svg viewBox="0 0 24 24" onclick="openNav()" style="width: 24px;margin-right:14px;">
                        <path
                            d="M3.444 5.422a.733.733 0 110-1.466h17.047a.733.733 0 110 1.466H3.444zm0 7.111a.733.733 0 110-1.466h17.047a.733.733 0 110 1.466H3.444zm0 7.111a.733.733 0 110-1.466h17.047a.733.733 0 110 1.466H3.444z"
                            fill="#3E4152" fillrule="evenodd"></path>
                    </svg>
                    <a href="/" style="font-size:19px;color:#444;font-weight:bold;position:relative;top:3px;">
                        Nepscart
                        <img src="/img/logo.svg" style="width: 20px;position:relative;top:-17px;left:-16px;">
                    </a>
                </div>
                <div id="nav-mobile" class="col-5" style="padding-top:4px;text-align:right;padding-left:0;">

                </div>
            </div>
        </div>
    </header>
</section>

{{!-- sidenav for mobile --}}
<div id="mySidenav" class="sidenav">
    <div style="background: #3f3947;padding: 22px 0 22px 22px;color:#fff;">
        <div>
            <button style="background: #fff;border:none;padding:7px 14px 12px 14px;border-radius:4px;">
                <img src="/img/icon/user-sidenav.svg" style="width: 21px;">
            </button>
        </div>
        <div id="sidenav-user-name" style="margin-top:14px;font-size:17px;font-weight:bold;">

        </div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="/img/back-arrow.svg"
                style="width: 19px;"></a>
    </div>
    <div class="sidenavlink" style="font-weight: bold;color:#343434;">
        <a href="/shop/all">All Categories <img src="/img/icon/arrow.svg" style="width: 9.5px;float:right;margin:7px 20px 0 0;"></a>
        <a href="/shop/5e20950e883a3751f8d2ac9c">Men <img src="/img/icon/arrow.svg" style="width: 9.5px;float:right;margin:7px 20px 0 0;"></a>
        <a href="/shop/5e209529883a3751f8d2ac9e">Women <img src="/img/icon/arrow.svg" style="width: 9.5px;float:right;margin:7px 20px 0 0;"></a>
        <a href="/shop/5e209529883a3751f8d2ac9e">Health and Beauty <img src="/img/icon/arrow.svg" style="width: 9.5px;float:right;margin:7px 20px 0 0;"></a>
        <a href="/shop/5e209529883a3751f8d2ac9e">Jwellery <img src="/img/icon/arrow.svg" style="width: 9.5px;float:right;margin:7px 20px 0 0;"></a>
    </div>

    <div class="sidenavlink">
        <hr style="margin:28px 0 0 0;">
        <div id="sidenav-auth">

        </div>
        <a href="/helpcentre">Contact Us</a>
        <a href="/blogs">Blog</a>
        <a href="/partners" style="padding-bottom:28px;">Sell on Nepscart</a>
    </div>
</div>

<script>
    //media queries == universal
    const mq = window.matchMedia("(min-width: 800px)");

    $.getJSON("/api/users/auth", function (data) {
        if (data.isAuth) {
            $('#sidenav-user-name').append(`${data.firstname}`);
            $('#sidenav-auth').append(`<a href="/my-account">My Account</a>
                <a href="/my-orders">Orders</a>`);

            if (mq.matches) {
                $('#nav-pc').append(`<a href="/cart" style="font-size: 14px;padding-right:20px;font-weight: bold;color:#444;">
                    <img src="/img/heart.svg" style="width: 18px;">
                    Cart
                    <span id="nav-cart" style="font-size:11.5px;background:#FF4747;color:#fff;border-radius:50%;padding:0 5px;position:absolute;top:-5px;right:230px;">
                        ${data.cart.length}
                    </span>
                </a>
                <a href="/my-account" style="font-size: 14px;padding-right:20px;font-weight: bold;color:#444;">
                    <svg width="1.1em" height="1.1em" viewBox="0 0 24 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M17.5 6.5c0 3-2.5 5.5-5.5 5.5S6.5 9.5 6.5 6.5 9 1 12 1s5.5 2.5 5.5 5.5zm-3 0C14.5 5.1 13.4 4 12 4S9.5 5.1 9.5 6.5 10.6 9 12 9s2.5-1.1 2.5-2.5zM3 20c0-3.3 2.7-6 6-6h6c3.3 0 6 2.7 6 6v3h-3v-3c0-1.7-1.4-3-3-3H9c-1.6 0-3 1.3-3 3v3H3v-3z"
                            fill="currentColor"></path>
                    </svg>
                    My Account
                </a>
                <a href="#" onClick="logoutHandler()" style="background: #FF4747;color:#fff;padding:8px 12px;font-size: 14px;">Log
                    out</a>`)
            } else {
                $('#nav-mobile').append(`<a href="/shop/all" style="padding-right:17px;">
                    <img src="/img/icon/search-black.svg" style="width: 20px;">
                </a>
                <a href="/cart" style="padding-right:17px;">
                    <img src="/img/heart.svg" style="width: 21px;">
                    <span id="nav-cart" style="font-size:11.5px;background:#FF4747;color:#fff;border-radius:50%;padding:0 5px;position:absolute;top:-5px;right:42px;">
                        ${data.cart.length}
                    </span>
                </a>
                <a href="/my-account">
                    <img src="/img/icon/profile-nav.svg" style="width: 19px;">
                </a>
                `)
            }
        } else {
            $('#sidenav-user-name').append(`Please Login`);

            if (mq.matches) {
                $('#nav-pc').append(`<a href="/user-login" style="font-size: 14px;padding-right:8px;font-weight: bold;color:#444;">
                    <svg width="1.1em" height="1.1em" viewBox="0 0 24 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M17.5 6.5c0 3-2.5 5.5-5.5 5.5S6.5 9.5 6.5 6.5 9 1 12 1s5.5 2.5 5.5 5.5zm-3 0C14.5 5.1 13.4 4 12 4S9.5 5.1 9.5 6.5 10.6 9 12 9s2.5-1.1 2.5-2.5zM3 20c0-3.3 2.7-6 6-6h6c3.3 0 6 2.7 6 6v3h-3v-3c0-1.7-1.4-3-3-3H9c-1.6 0-3 1.3-3 3v3H3v-3z"
                            fill="currentColor"></path>
                    </svg>
                    Log in
                </a>
                <a href="/user-register" style="background: #FF4747;color:#fff;padding:8px 12px;font-size: 14px;">Sign
                    up</a>`)
            } else {
                $('#nav-mobile').append(`<a href="/user-login" style="font-size: 14px;padding-right:4px;font-weight: bold;color:#444;">
                    Log in
                </a>
                <a href="/user-register" style="background: #FF4747;color:#fff;padding:7px 8px;font-size: 14px;">Sign
                    up</a>`)
            }
        }
    })


    //logout handler
    const logoutHandler = () => {
        $.getJSON("/api/users/logout", function (data) {
            if (data.success === true) {
                window.location.replace("/user-login");
            }
        })
    }

    //side nav=======================
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>