/* universal css */
*{
    font-family: 'Roboto', sans-serif;
}
.container-fluid{
    width: 85%;
}

.display-mobile{
    display: none;
}

input:focus{
    outline:0px !important;
    box-shadow: none !important;
}

/* header================== */
header{
    padding: 14px 0 14px 0;
    background: #fff;
}

.nav{
    margin-top:10px;
}

.nav a{
    padding-right: 46px;
    color: #444;
    font-size: 14.6px;
    font-weight: bold;
}

/* sidenav =============================================================================================== */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    z-index: 1032;
  }
  
  /* The navigation menu links */
  .sidenav .sidenavlink a {
    padding: 28px 0 0 22px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    font-size: 15px;
    position: absolute;
    top:33px;
    right:8px;
    color: #999;
  }

/* shop =============================================================================================== */
.page-top{
    padding:4px 0;
}

.page-top a{
    color:#555;
    font-size: 14px;
}

.product-searchbox{
    margin-top: -16px;
    width: 50%;
    float: right;
}

.product-searchbox input{
    width: 100%;
    padding: 6px 15px;
    font-size: 13px;
    border: 1px solid #e9e9eb;
}

.product-searchbox button{
    margin-left: -57px;
    padding: 3px 16px 6px 16px;
    background: #FF4747;
    border:none;
    color: #fff;
}

.shop-checkbox{
    margin-top: 2px;
}

.shop-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin:0 4px;
    border: 1px solid #666;
  }

/* cart ============================== */
.cart-orderform input{
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #a9abb3;
    border-radius: 0;
    padding:50px 0 10px 0;
}

.cart-delivery-adress{
    font-size:13px;
    border: 1px solid #eaeaec;
    padding: 10px;
}

/* footer============================= */
footer{
    margin-top: 35px;
    padding: 45px 0;
    font-size: 15px;
    background: #fff;
    line-height: 27px;
    color: #333;
}
footer h6, footer strong{
    color:#333;
}
.footer-link a{
  display: block;  
  color: #555;
  font-size: 14px;
  padding-top:4px;
}
.footer-social div{
    padding-top:4px;
}
.footer-social div a{
    padding-right:8px;
}
.footer-secure div{
    margin-bottom: 26px;
    line-height: 21px;
}

/* partner=========================== */
.partner-section{
    padding: 8vh 0 7vh 0;
}
.partner-title{
    color: #222;
    font-weight:bold;
    font-size:38px;
    line-height: 48px;
    margin-bottom: 30px;
}
.partner-detail{
    margin-bottom: 48px;
    margin-top: 30px;
    line-height: 36px;
    font-size: 18px;
}






/* media queries================================================================================================================= */
@media only screen and (max-width: 800px) {
    /* universal css */
    .container-fluid{
        width: 100%;
    }

    .display-mobile{
        display: block;
    }

    .display-pc{
        display: none;
    }

    /* header================== */
    header{
        padding: 13px 0;
        box-shadow: 0 1px 2px 0 rgba(148,150,159,.3);
    }

    /* shop============= */
    .product-searchbox{
        width: 100%;
    }

    .product-searchbox input{
        padding: 8px 15px;
    }
    
    .product-searchbox button{
        margin-left: -56px;
        padding: 6px 16px 8px 16px;
    }

    .shop-not-found{
        padding: 8px 0 0 16px;
    }

    .shop-checkbox{
        margin-top: 6px;
    }

    /* cart ====================== */
    .cart-detail{
        margin-bottom: 20px;
    }

    /* footer=========== */
    footer{
        display: none;
    }

    /* partner=========================== */
    .partner-section{
        padding: 5vh 0 7vh 0;
    }
    .partner-title{
        font-size:28px;
        line-height: 44px;
        margin-bottom: 20px;
    }
    .partner-detail{
        margin-bottom: 40px;
        margin-top: 20px;
        line-height: 34px;
        font-size: 16px;
    }    
  }