<style>
    .about-img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

    @media only screen and (max-width: 800px) {
        .about-img {
            height: 130px;
            width: 130px;
            border-radius: 50%;
        }
    }
</style>

<section style="padding:5vh 0 3vh 0;">
    <center style="font-size: 21px;">Nepscart/ About</center>
</section>

<section>
    <div class="container">
        <div style="margin-bottom: 10px;">
            <strong>Introduction</strong>
        </div>
        <p style="color:#666;font-size: 13px;border-bottom: 1px solid #ccc;padding-bottom:20px;margin-bottom:20px;">
            Nepscart is a one stop shop for all your fashion and lifestyle needs. Being Nepal's
            largest e-commerce store for fashion and lifestyle products, Nepscart aims at providing a hassle free and
            enjoyable shopping experience to shoppers across the country with the widest range of brands and products on
            its portal. The brand is making a conscious effort to bring the power of fashion to shoppers with an array
            of the latest and trendiest products available in the country.</p>
    </div>
</section>

<section>
    <div class="container">
        <div style="margin-bottom: 10px;">
            <strong>Value proposition</strong>
        </div>
        <p style="color:#666;font-size: 13px;border-bottom: 1px solid #ccc;padding-bottom:20px;margin-bottom:20px;">
            Nepscart's value proposition revolves around giving consumers the power and ease of purchasing fashion and
            lifestyle products online. Offerings 100% authentic products, cash on delivery and 7 day return policy make
            Nepscart, the preferred shopping destination in the country. To make online shopping easier for you, a
            dedicated customer connect team is on standby to answer your queries 24x7.</p>
    </div>
</section>

<section>
    <div class="container">
        <div style="margin-bottom: 10px;">
            <strong>Our Team</strong>
        </div>
        <center>
            <div class="row" style="font-size: 15px;">
                <div class="col-md-3 col-6">
                    <img class="about-img"
                        src="https://pbs.twimg.com/profile_images/1183610291382128640/3CNFRhNJ_400x400.jpg">
                    <div style="margin:5px 0 10px 0;">
                        <strong>Co Founder</strong>
                        <p>Alia Bhat</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <img class="about-img" src="https://pbs.twimg.com/profile_images/1055263632861343745/vIqzOHXj.jpg">
                    <div style="margin:5px 0 10px 0;">
                        <strong>Sales Executive</strong>
                        <p>John Smith</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <img class="about-img"
                        src="https://i.pinimg.com/originals/5d/d8/5a/5dd85a2449ec5eeb934426410e2cb21a.jpg">
                    <div style="margin:5px 0 10px 0;">
                        <strong>Chairman</strong>
                        <p>Nina Dobrev</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <img class="about-img"
                        src="https://libereurope.eu/wp-content/uploads/2015/09/JR-e1505819210400.png">
                    <div style="margin:5px 0 10px 0;">
                        <strong>Director</strong>
                        <p>Nina Dobrev</p>
                    </div>
                </div>
            </div>
        </center>
    </div>
</section>