<section style="padding-top:3vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="ajax-blog-detail">
                <div style="background:#ee5f73;color:#fff;font-weight:bold;padding:8px 13px;margin-bottom:20px;">
                    DETAIL
                    <div style="float: right;" id="edit-delete">

                    </div>
                </div>

                <center id="content-loading"><img src="/img/loading.svg" style="width:50px;margin:80px 0;"></center>
            </div>
            <div class="col-md-4">
                <div style="background:#444546;color:#fff;font-weight:bold;padding:8px 13px;margin-bottom:28px;">
                    BEST SELLING
                    <a href="/shop/all" style="float: right;"><img src="/img/icon/arrow-white.svg"
                            style="width: 10.5px;"></a>
                </div>

                <center id="content2-loading"><img src="/img/loading.svg" style="width:50px;margin:80px 0;"></center>

                <div id="ajax-similar-pc"
                    style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">

                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="ajax-similar" style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">

    </div>
</section>

{{!-- ====================Moment js=============== --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>
    //title from the url ===============================
    var url = window.location.pathname;
    var title = url.substring(url.lastIndexOf('/') + 1);

    $.getJSON(`/api/blog/detail?title=${title}`, function (data) {
        $('#content-loading').empty();

        $('#ajax-blog-detail').append(`<div>
            <h1 style="font-size: 22px;">${data.blog.title}</h1>
            <div style="font-size: 14px;color:#777;">
                BY <a href="/blogs" style="color: #fb56c1;">NEPSCART</a> / ${moment(data.blog.date).format("ddd, MMM DD, hh:mm A")}
            </div>
            <div style="margin: 20px 0;">
                <img src="/blogUploads/${data.blog.file1}" style="width: 100%;min-height:80px;background: rgb(255, 237, 243);">
            </div>
            <div style="margin-bottom:28px;">
                ${data.blog.description}
            </div>
        </div>`)


        $.getJSON("/api/users/auth", function (auth) {
            if (auth.role === 1) {
                $('#edit-delete').append(`<button onclick="deleteBlog()" style="background:none;border:none;"><img src="/img/icon/bin.svg" style="width:17px;"></button>
                    <a href="/admin/edit_blog/${data.blog.title}"><img src="/img/icon/edit.svg" style="width:16px;margin-left:10px;"></a>`)
            }
        })

        //show similar products
        $.getJSON(`/api/product/articles?sortBy=sold&order=desc&limit=2&related=${data.blog.related}`, function (similarData) {
            $('#content2-loading').empty();
            
            $.each(similarData, function (i, article) {
                if (mq.matches) {
                    $('#ajax-similar-pc').append(`<div style="width: 48%;margin-bottom:19px;">
                        <a href="/shop-detail/${article._id}" style="color:#000;">
                            <img src="/productUploads/${article.file}" style="width: 100%;">
                            <div style="font-size:13.5px;padding:12px 8px;">
                                <strong>Ives</strong> <br>
                                <div style="color:#555;margin-bottom:4px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">${article.name}</div>
                                <div style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                    <strong>Rs. ${article.price}</strong> <span style="font-size:12px;padding-left:5px;color: #888;text-decoration:line-through;">Rs.
                                    ${article.cutoffprice}</span> <strong style="color:#ff905a;padding-left:5px;font-size:12.5px;">(OFFER)</strong>
                                </div>
                            </div>
                        </a>
                    </div>`)
                } else {
                    $('#ajax-similar').append(`<div style="width: 50%;">
                    <a href="/shop-detail/${article._id}" style="color:#000;">
                        <img src="/productUploads/${article.file}" style="width: 100%;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;min-height:190px;background: rgb(244, 255, 249);">
                        <div style="font-size:13.5px;padding:12px 8px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">
                            <strong>Ives</strong> <br>
                            <div style="font-size:12.5px;color:#555;margin-bottom:4px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">${article.name}</div>
                            <div style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                <strong>Rs. ${article.price}</strong> <span style="font-size:11.5px;padding-left:5px;color: #888;text-decoration:line-through;">Rs.
                                ${article.cutoffprice}</span> <strong style="color:#ff905a;padding-left:5px;font-size:12px;">(OFFER)</strong>
                            </div>
                        </div>
                        </a>
                </div>`)
                }
            })
        })
    })




    //delete blog
    const deleteBlog = () => {
        $.getJSON(`/api/blog/delete?title=${title}`, function (data) {
            window.location.replace("/blogs");
        })
    }
</script>