<section style="padding: 3vh 0;">
    <div class="container">
        <ul class="list-group" style="font-size:13px;">
            <li class="list-group-item" style="border-radius: 0;font-weight:bold;padding:17px 20px;">
                QUERIES RELATED TO CUSTOMERS
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"
                style="border-radius: 0;padding:17px 20px;" data-toggle="modal" data-target="#paymentrefundmodal">
                Payment/Refund
                <span><img src="/img/icon/arrow.svg" style="width: 10.5px;"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"
                style="border-radius: 0;padding:17px 20px;">
                Offers, Discounts, Coupens
                <span><img src="/img/icon/arrow.svg" style="width: 10.5px;"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"
                style="border-radius: 0;padding:17px 20px;">
                Manage Your Account
                <span><img src="/img/icon/arrow.svg" style="width: 10.5px;"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"
                style="border-radius: 0;padding:17px 20px;">
                Contact Us
                <span><img src="/img/icon/arrow.svg" style="width: 10.5px;"></span>
            </li>
        </ul>
    </div>

    <div style="background:#F5F5F6;height:12px;margin:15px 0;"></div>

    <div class="container" style="font-size:13px;">
        <div style="margin-bottom:18px;font-weight:bold;">INTRESTED IN SELLING WITH NEPSCART?</div>
        <div style="margin-bottom:5px;">Contact Us: <span style="color: #526cd0;padding-left:8px;">+977 9824533413</span></div>
        <div style="color: #526cd0;">OR CHAT WITH US.</div>
    </div>
</section>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5dd4380fd96992700fc83c04/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->







{{!-- Modal --}}
<div class="modal fade" id="paymentrefundmodal" tabindex="-1">
    <div class="modal-dialog" role="document" style="margin:0;">
        <div class="modal-content" style="border-radius:0;border:none;min-height:100vh;">
            <div class="modal-header" style="font-size:14px;padding-top:23px;font-weight:bold;color:#3E4152;">
                <div class="modal-title">PAYMENT/REFUND</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1;">
                    <img src="/img/logo.svg" style="width: 19px;">
                </button>
            </div>
            <div class="modal-body" style="color:#3E4152;font-size:13.5px;">
                <div>
                    <strong># My return was picked up but i haven't recieved my refund yet</strong> <br>
                    <p>Refund will be initiated after we recieve the item and it passes the quality check.
                    Refund time depends upon the mode of refund.</p>
                    <strong>Bank Account:</strong> <br>
                    <p>Time the item takes to reach us + 1 to 3 business days.</p>
                    <strong>Esewa Wallet:</strong> <br>
                    Time the item takes to reach us + 1 business days.
                </div>
                <div style="background:#ddd;height:12px;margin:30px 0;"></div>
                <div>
                    <strong># I self shipped my return but havent recieved my refund yet</strong> <br>
                    <p>Refund will be initiated after we recieve the item at out warehouse and it passes the quality check.
                    Refund time depends upon the mode of refund.</p>
                    <strong>Bank Account:</strong> <br>
                    <p>Time the item takes to reach us + 1 to 3 business days.</p>
                    <strong>Esewa Wallet:</strong> <br>
                    Time the item takes to reach us + 1 business days.
                </div>
            </div>
        </div>
    </div>
</div>