<style>
    .collapse-container {
        padding: 7px 0;
    }

    .collapse-title {
        color: #555;
        font-weight: bold;
        font-size: 14px;
    }
</style>

<section class="display-pc" style="padding-top: 7vh;">
    <div class="container">
        <div>
            <span style="font-size: 31px;">Frequently Asked Questions</span>
            <div style="float: right;font-size:13px;padding-top:18px;">
                <span style="color: #888;">Still need help?</span>
                <a style="border:1px solid #ccc;padding:7px 8px;border-radius:5px;" href="/contactus">CONTACT US</a>
            </div>
        </div>
    </div>
    <div style="background:#F5F5F6;height:12px;margin:15px 0;"></div>
</section>

<section>
    <div class="container">
        <div style="margin-top:20px;font-size:15px;color:#555;">
            <strong style="font-size: 22px;color:#333;">Top Queries</strong>
            <p style="border-bottom: 1px solid #ccc;padding-bottom:10px;margin-bottom: 14px;">
                You can track your orders in <a href="/my-orders">'My Orders'</a>
            </p>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="collapse-container">
            <a class="collapse-title" data-toggle="collapse" href="#collapse1">
                How will I detect fraudulent emails/calls seeking sensitive personal and confidential information?
            </a>
            <div class="collapse" id="collapse1" style="margin: 15px 0;font-size: 14px;">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>

        <div class="collapse-container">
            <a class="collapse-title" data-toggle="collapse" href="#collapse2">
                How do I cancel the order, I have placed?
            </a>
            <div class="collapse" id="collapse2" style="margin: 15px 0;font-size: 14px;">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>
</section>

<div style="background:#F5F5F6;height:12px;margin:15px 0;"></div>

<section>
    <div class="container">
        <div style="margin-top:20px;font-size:15px;color:#555;">
            <strong style="font-size: 22px;color:#333;">Shipping, Order Tracking & Delivery</strong>
            <p style="border-bottom: 1px solid #ccc;padding-bottom:10px;margin-bottom: 14px;">
                You can track your orders in <a href="/my-orders">'My Orders'</a>
            </p>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="collapse-container">
            <a class="collapse-title" data-toggle="collapse" href="#collapse3">
                What is Myntra's Shipping Policy?
            </a>
            <div class="collapse" id="collapse3" style="margin: 15px 0;font-size: 14px;">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>

        <div class="collapse-container">
            <a class="collapse-title" data-toggle="collapse" href="#collapse4">
                What is Myntra’s Fair Usage Policy?
            </a>
            <div class="collapse" id="collapse4" style="margin: 15px 0;font-size: 14px;">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>
</section>