<style>
    .collapse-container{
        padding: 7px 0;
    }

    .collapse-title{
        color: #333;
        font-weight: bold;
    }

    .collapse{
        margin: 15px 0;
    }
</style>

<section style="padding-top: 7vh;">
    <div class="container">
        <div style="border-bottom: 1px solid #ccc;padding-bottom:5px;">
            <span style="font-size: 27px;">Frequently Asked Questions</span>
            <div style="float: right;font-size:13px;padding-top:10px;">
                <span style="color: #888;">Still need help?</span>
                <a style="border:1px solid #ccc;padding:7px 8px;border-radius:5px;" href="/contactus">CONTACT US</a>
            </div>
        </div>

        <div style="margin-top:20px;font-size:15px;color:#555;">
            <strong style="font-size: 20px;color:#000;">Top Queries</strong>
            <a style="font-size:13px;margin-top:17px;float:right;border:1px solid #ccc;padding:7px 8px;border-radius:5px;"
                href="/contactus">TRACK ORDERS</a>
            <p style="border-bottom: 1px solid #ccc;padding-bottom:10px;margin-bottom: 14px;">
                You can track your orders in 'My Orders'
            </p>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="collapse-container">
            <a class="collapse-title" data-toggle="collapse" href="#collapse1">
                Link with href
            </a>
            <div class="collapse" id="collapse1">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>

        <div class="collapse-container">
            <a class="collapse-title" data-toggle="collapse" href="#collapse2">
                Link with href
            </a>
            <div class="collapse" id="collapse2">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>
</section>