<section style="margin-top: 35px;">
    <div class="container-fluid">
        <img style="width: 100%;" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2020/1/12/7a9e7b2b-377c-480e-9e40-d165921d9e151578846896601-Maybelline_Desk_Banner.jpg">
    </div>
</section>

<section class="container-fluid" style="margin-top: 50px;">
    <div style="display: flex;flex-direction:row;justify-content:space-between;">
        <div style="width: 23%;">
            <img src="/img/index.jfif" style="width: 100%;">
        </div>
        <div style="width: 23%;">
            <img src="/img/index2.jfif" style="width: 100%;">
        </div>
        <div style="width: 23%;">
            <img src="/img/index3.jpg" style="width: 100%;">
        </div>
        <div style="width: 23%;">
            <img src="/img/index4.jpg" style="width: 100%;">
        </div>
    </div>
</section>

{{!-- <section class="container-fluid" style="margin-top: 25px;">
    <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/retaillabs/2020/1/8/eab48c56-78a2-45fa-bb50-6f6f27a00b0c1578466576268-Main-Banners.jpg" style="width: 100%;">
</section> --}}