<section class="display-pc" style="margin-top: 35px;">
    <div class="container-fluid">
        <img style="width: 100%;"
            src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/2/15/bbec9887-754a-4626-97d4-492014d6bc7e1581749187592-KNK_Desk_Banner.jpg">
    </div>
</section>

<section class="display-mobile" style="margin-top: 15px;">
    <div class="container">
        <div style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">
            <div style="width:23%">
                <a href="/shop/5e20950e883a3751f8d2ac9c">
                    <img src="/img/static/men.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:23%">
                <a href="/shop/5e209529883a3751f8d2ac9e">
                    <img src="/img/static/women.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:23%">
                <img src="/img/static/beauty.jpg" style="width: 100%;">
            </div>
            <div style="width:23%">
                <img src="/img/static/jwellery.jpg" style="width: 100%;">
            </div>
        </div>
    </div>
</section>

<section class="display-mobile" style="margin-top: 12px;">
    <a href="/shop/all"><img style="width: 100%;" src="/img/static/banner-mob.jpg"></a>
</section>

<section class="display-mobile" style="margin-top: 18px;">
    <div class="container">
        <div style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">
            <div style="width:48%">
                <a href="/shop/5e20950e883a3751f8d2ac9c">
                    <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/fe43f2f5-8cc2-460b-9a2f-43d498f81d371563360469249-women_01.jpg"
                        style="width: 100%;">
                </a>
            </div>
            <div style="width:48%">
                <a href="/shop/5e20950e883a3751f8d2ac9c">
                    <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/a6783f76-b3fd-4126-baed-c362399937741563360469236-women_02.jpg"
                        style="width: 100%;">
                </a>
            </div>
            <div style="width:48%">
                <a href="/shop/5e20950e883a3751f8d2ac9c">
                    <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/ea6cdd64-1daa-45dc-9358-519394429b211563360469224-women_03.jpg"
                        style="width: 100%;">
                </a>
            </div>
            <div style="width:48%">
                <a href="/shop/5e20950e883a3751f8d2ac9c">
                    <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/cd3ba5d8-3b74-4054-98be-7fe3f104e9861563360548542-men_03.jpg"
                        style="width: 100%;">
                </a>
            </div>
            <div style="width:48%">
                <a href="/shop/5e20950e883a3751f8d2ac9c">
                    <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/cd3ba5d8-3b74-4054-98be-7fe3f104e9861563360548542-men_03.jpg"
                        style="width: 100%;">
                </a>
            </div>
            <div style="width:48%">
                <a href="/shop/5e20950e883a3751f8d2ac9c">
                    <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/5b1b150a-e6a7-4152-80c0-a9edc29b1ca11563360469213-women_04.jpg"
                        style="width: 100%;">
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    a {
        color: #000;
    }

    .blog-content {
        padding-top: 28px;
        width: 48%
    }

    @media only screen and (max-width: 600px) {
        .blog-content {
            width: 100%
        }
    }
</style>

<section style="padding-top: 3vh;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div style="background:#ee5f73;color:#fff;font-weight:bold;padding:8px 13px;">
                    STYLE TIPS
                    <a href="/blogs" style="float: right;"><img src="/img/icon/arrow-white.svg"
                            style="width: 10.5px;"></a>
                </div>

                <center id="content-loading"><img src="/img/loading.svg" style="width:50px;margin:80px 0;"></center>

                <div id="ajax-blog"
                    style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">

                </div>

                <div style="padding:28px 0;" id="ajax-loadmore">

                </div>

                <section class="display-pc" style="margin-top: 18px;">
                    <div style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">
                        <div style="width:32%;margin-bottom:30px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/fe43f2f5-8cc2-460b-9a2f-43d498f81d371563360469249-women_01.jpg"
                                    style="width: 100%;">
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:30px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/a6783f76-b3fd-4126-baed-c362399937741563360469236-women_02.jpg"
                                    style="width: 100%;">
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:30px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/ea6cdd64-1daa-45dc-9358-519394429b211563360469224-women_03.jpg"
                                    style="width: 100%;">
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:30px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/cd3ba5d8-3b74-4054-98be-7fe3f104e9861563360548542-men_03.jpg"
                                    style="width: 100%;">
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:30px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/cd3ba5d8-3b74-4054-98be-7fe3f104e9861563360548542-men_03.jpg"
                                    style="width: 100%;">
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:30px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/5b1b150a-e6a7-4152-80c0-a9edc29b1ca11563360469213-women_04.jpg"
                                    style="width: 100%;">
                            </a>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4">
                <div style="background:#444546;color:#fff;font-weight:bold;padding:8px 13px;margin-bottom:28px;">
                    BEST SELLING
                    <a href="/shop/all" style="float: right;"><img src="/img/icon/arrow-white.svg"
                            style="width: 10.5px;"></a>
                </div>

                <center id="content2-loading"><img src="/img/loading.svg" style="width:50px;margin:80px 0;"></center>

                <div id="ajax-similar-pc"
                    style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">

                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="ajax-similar" style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">

    </div>
</section>

<script>
    //load more values
    let limit = 2;
    let skip = 0;

    const loadBlog = () => {
        $.getJSON(`/api/blogs?limit=${limit}&skip=${skip}`, function (data) {
            $('#content-loading').empty();

            console.log(data);

            if (data.size >= limit) {
                $('#ajax-loadmore').empty().append(`<button onclick="loadMore()" id="btn-loadmore"
                    style="width: 100%;background:none;border:1px solid #555;color:#777;font-size:14px;padding:9px 0;">LOAD
                    MORE</button>`);
            } else {
                $("#ajax-loadmore").empty();
            }

            data.blogs.forEach(item => {
                $('#ajax-blog').append(`<div class="blog-content">
                    <a href="/blog/detail/${item.title}">
                        <img src="/blogUploads/${item.file}"
                            style="width: 100%;min-height:80px;background: rgb(255, 237, 243);">
                        <div style="font-size: 14px;margin-top:4px;font-weight:bold;">
                            ${item.title}
                        </div>
                    </a>
                </div>`)
            })
        })
    }

    loadBlog();


    //load more blogs
    const loadMore = () => {
        $('#btn-loadmore').empty().append(`<img src="/img/loader.svg" style="width:18px;">`)

        skip = skip + 2;
        loadBlog();
    }

    //show similar products
    $.getJSON(`/api/product/articles?sortBy=sold&order=desc&limit=6`, function (similarData) {
        $('#content2-loading').empty();

        $.each(similarData, function (i, article) {
            if (mq.matches) {
                $('#ajax-similar-pc').append(`<div style="width: 48%;margin-bottom:19px;">
                        <a href="/shop-detail/${article._id}" style="color:#000;">
                            <img src="/productUploads/${article.file}" style="width: 100%;">
                            <div style="font-size:13.5px;padding:12px 8px;">
                                <strong>Ives</strong> <br>
                                <div style="color:#555;margin-bottom:4px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">${article.name}</div>
                                <strong>Rs. ${article.price}</strong> <span style="font-size:12px;padding-left:5px;color: #FF4747;text-decoration:line-through;">Rs.
                                    ${article.cutoffprice}</span>
                            </div>
                        </a>
                    </div>`)
            } else {
                $('#ajax-similar').append(`<div style="width: 50%;">
                    <a href="/shop-detail/${article._id}" style="color:#000;">
                        <img src="/productUploads/${article.file}" style="width: 100%;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;min-height:200px;background: rgb(244, 255, 249);">
                        <div style="font-size:13.5px;padding:12px 8px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">
                            <strong>Ives</strong> <br>
                            <div style="color:#555;margin-bottom:4px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">${article.name}</div>
                            <strong>Rs. ${article.price}</strong> <span style="font-size:12px;padding-left:5px;color: #FF4747;text-decoration:line-through;">Rs.
                                ${article.cutoffprice}</span>
                        </div>
                        </a>
                </div>`)
            }
        })
    })
</script>