<section class="display-pc" style="margin-top: 35px;">
    <div class="container-fluid">
        <img style="width: 100%;"
            src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/2/23/6b3c42e1-0fab-4d20-8d59-bbe4b6238cc61582470066742-Carlton-London_Desktop_Banner.jpg">
    </div>
</section>

<section class="display-mobile" style="margin-top: 15px;">
    <div class="container">
        <div style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">
            <div style="width:31%">
                <a href="/shop/men/all">
                    <img src="/img/static/men.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="/shop/women/all">
                    <img src="/img/static/women.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="/shop/accessories/all">
                    <img src="/img/static/accessories.jpg" style="width: 100%;">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="display-mobile" style="margin-top: 12px;">
    <img style="width: 100%;" src="/img/static/banner-mob.jpg">
</section>

<section class="display-mobile" style="margin-top: 18px;">
    <div class="container">
        <div style="font-size:14px;margin-bottom:8px;font-weight:bold;color:#333;">ESSENTIALS FOR WOMEN</div>
        <div style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">
            <div style="width:31%">
                <a href="/shop/women/5e4cce34d2e7a13e040f4daf">
                    <img src="/img/static/women-tshirt.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/women-footwear.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/women-jeans.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/women-lingerie.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/women-handbags.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/women-onepiece.jpg" style="width: 100%;">
                </a>
            </div>
        </div>
    </div>
</section>

<div class="display-mobile" style="background:#F5F5F6;height:12px;margin:15px 0 0 0;"></div>

<section class="display-mobile" style="margin-top: 18px;">
    <div class="container">
        <div style="font-size:14px;margin-bottom:8px;font-weight:bold;color:#333;">ESSENTIALS FOR MEN</div>
        <div style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">
            <div style="width:31%">
                <a href="/shop/women/5e4cce34d2e7a13e040f4daf">
                    <img src="/img/static/men-tshirt.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/men-shirt.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/men-jeans.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/men-trousers.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/men-innerwear.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/men-footwear.jpg" style="width: 100%;">
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    a {
        color: #000;
    }

    .blog-content {
        padding-top: 28px;
        width: 48%
    }

    @media only screen and (max-width: 600px) {
        .blog-content {
            width: 100%
        }
    }
</style>

<section style="padding-top: 3vh;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div style="background:#ee5f73;color:#fff;font-weight:bold;padding:8px 13px;">
                    STYLE TIPS
                    <a href="/blogs" style="float: right;"><img src="/img/icon/arrow-white.svg"
                            style="width: 10.5px;"></a>
                </div>

                <center id="content-loading"><img src="/img/loading.svg" style="width:50px;margin:80px 0;"></center>

                <div id="ajax-blog"
                    style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">

                </div>

                <div style="padding:28px 0;" id="ajax-loadmore">

                </div>

                <section class="display-pc" style="margin-top: 9px;">
                    <div style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">
                        <div style="width:32%;margin-bottom:15px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/25/b80e73a5-0bdb-42f5-adbc-5cb555a6aaa91553513301190-2.jpg"
                                    style="width: 100%;">
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:15px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/25/af742567-4650-4295-acc0-9753c3279f6c1553513301174-3.jpg"
                                    style="width: 100%;">
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:15px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/25/ccc7324e-982a-452a-9d26-2089fb45674e1553513301205-1.jpg"
                                    style="width: 100%;">
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:15px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/25/901170b9-59b4-43a6-aefa-2ff803e307321553513301158-4.jpg"
                                    style="width: 100%;">
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:15px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/25/41629664-2756-46f3-9e09-76605597b5491553513286258-1-m.jpg"
                                    style="width: 100%;">
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:15px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/3/25/f95b7985-cb14-451e-9cad-4b51caba26e11553513286239-2-m.jpg"
                                    style="width: 100%;">
                            </a>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4">
                <div style="background:#444546;color:#fff;font-weight:bold;padding:8px 13px;margin-bottom:28px;">
                    BEST SELLING
                    <a href="/shop/all" style="float: right;"><img src="/img/icon/arrow-white.svg"
                            style="width: 10.5px;"></a>
                </div>

                <center id="content2-loading"><img src="/img/loading.svg" style="width:50px;margin:80px 0;"></center>

                <div id="ajax-similar-pc"
                    style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">

                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="ajax-similar" style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">

    </div>
</section>

<script>
    //load more values
    let limit = 2;
    let skip = 0;

    const loadBlog = () => {
        $.getJSON(`/api/blogs?limit=${limit}&skip=${skip}`, function (data) {
            $('#content-loading').empty();

            console.log(data);

            if (data.size >= limit) {
                $('#ajax-loadmore').empty().append(`<button onclick="loadMore()" id="btn-loadmore"
                    style="width: 100%;background:none;border:1px solid #555;color:#777;font-size:14px;padding:9px 0;">LOAD
                    MORE</button>`);
            } else {
                $("#ajax-loadmore").empty();
            }

            data.blogs.forEach(item => {
                $('#ajax-blog').append(`<div class="blog-content">
                    <a href="/blog/detail/${item.title}">
                        <img src="/blogUploads/${item.file}"
                            style="width: 100%;min-height:80px;background: rgb(255, 237, 243);">
                        <div style="font-size: 14px;margin-top:4px;font-weight:bold;">
                            ${item.title}
                        </div>
                    </a>
                </div>`)
            })
        })
    }

    loadBlog();


    //load more blogs
    const loadMore = () => {
        $('#btn-loadmore').empty().append(`<img src="/img/loader.svg" style="width:18px;">`)

        skip = skip + 2;
        loadBlog();
    }

    //show similar products
    $.getJSON(`/api/product/articles?sortBy=sold&order=desc&limit=6`, function (similarData) {
        $('#content2-loading').empty();

        $.each(similarData, function (i, article) {
            if (mq.matches) {
                $('#ajax-similar-pc').append(`<div style="width: 48%;margin-bottom:19px;">
                        <a href="/shop-detail/${article._id}" style="color:#000;">
                            <img src="/productUploads/${article.file}" style="width: 100%;">
                            <div style="font-size:13.5px;padding:12px 8px;">
                                <strong>Ives</strong> <br>
                                <div style="color:#555;margin-bottom:4px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">${article.name}</div>
                                <div style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                    <strong>Rs. ${article.price}</strong> <span style="font-size:12px;padding-left:5px;color: #888;text-decoration:line-through;">Rs.
                                    ${article.cutoffprice}</span> <strong style="color:#ff905a;padding-left:5px;font-size:12.5px;">(OFFER)</strong>
                                </div>
                            </div>
                        </a>
                    </div>`)
            } else {
                $('#ajax-similar').append(`<div style="width: 50%;">
                    <a href="/shop-detail/${article._id}" style="color:#000;">
                        <img src="/productUploads/${article.file}" style="width: 100%;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;min-height:190px;background: rgb(244, 255, 249);">
                        <div style="font-size:13.5px;padding:12px 8px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">
                            <strong>Ives</strong> <br>
                            <div style="font-size:12.5px;color:#555;margin-bottom:4px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">${article.name}</div>
                            <div style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                <strong>Rs. ${article.price}</strong> <span style="font-size:11.5px;padding-left:5px;color: #888;text-decoration:line-through;">Rs.
                                ${article.cutoffprice}</span> <strong style="color:#ff905a;padding-left:5px;font-size:12px;">(OFFER)</strong>
                            </div>
                        </div>
                        </a>
                </div>`)
            }
        })
    })
</script>