<section class="display-pc" style="margin-top: 35px;">
    <div class="container-fluid">
        <img style="width: 100%;" src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2020/1/12/7a9e7b2b-377c-480e-9e40-d165921d9e151578846896601-Maybelline_Desk_Banner.jpg">
    </div>
</section>

<section class="container-fluid display-pc" style="margin-top: 50px;">
    <div style="display: flex;flex-direction:row;justify-content:space-between;">
        <div style="width: 23%;">
            <img src="/img/index.jfif" style="width: 100%;">
        </div>
        <div style="width: 23%;">
            <img src="/img/index2.jfif" style="width: 100%;">
        </div>
        <div style="width: 23%;">
            <img src="/img/index3.jpg" style="width: 100%;">
        </div>
        <div style="width: 23%;">
            <img src="/img/index4.jpg" style="width: 100%;">
        </div>
    </div>
</section>

<section class="display-mobile" style="margin-top: 25px;">
    <a href="/shop"><img style="width: 100%;" src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/banners/2019/3/28/eab733d9-b18c-468c-9491-6e49bea594c41553771845058-aquisition.jpg"></a>
</section>

<section class="display-mobile container-fluid" style="margin-top: 50px;">
    <div style="margin-bottom: 15px;font-size:14.5px;color:#444;">
        <strong>SHOPPING GUIDE</strong>
        <span style="float: right;color:#526cd0;">see more</span>
    </div>
    <div style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">
        <div style="width: 49%;">
            <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/2020/2/4/ef9879c8-12bc-4bb9-9d27-92ac72abef3c1580798075127-Theme-store-women.jpg" style="width: 100%;">
        </div>
        <div style="width: 49%;">
            <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/banners/2019/12/12/0d9acf3c-df31-425d-a1d5-447b4b70c0041576150875410-party-store-women.jpg" style="width: 100%;">
        </div>
        <div style="width: 49%;">
            <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/banners/2019/7/29/e93a6bf2-287b-4e00-8a87-09d88c0603961564393576488-Korean-Beauty.jpg" style="width: 100%;">
        </div>
        <div style="width: 49%;">
            <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/banners/2019/7/29/9ea8d21d-eb1c-4d75-a8a6-a78db09370241564394433573-Workwear-Women.jpg" style="width: 100%;">
        </div>
    </div>
</section>