<section class="display-pc" style="margin-top: 35px;">
    <div class="container-fluid">
        <img style="width: 100%;"
            src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/2/23/6b3c42e1-0fab-4d20-8d59-bbe4b6238cc61582470066742-Carlton-London_Desktop_Banner.jpg">
    </div>
</section>

<section class="display-mobile" style="margin-top: 15px;">
    <div class="container">
        <div style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">
            <div style="width:31%">
                <a href="/shop/men/all">
                    <img src="/img/static/men.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="/shop/women/all">
                    <img src="/img/static/women.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="/shop/accessories/all">
                    <img src="/img/static/accessories.jpg" style="width: 100%;">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="display-mobile" style="margin-top: 12px;">
    <img style="width: 100%;" src="/img/static/banner-mob.jpg">
</section>

<section class="display-mobile" style="margin-top: 18px;">
    <div class="container">
        <div style="font-size:14px;margin-bottom:8px;font-weight:bold;color:#333;">ESSENTIALS FOR WOMEN</div>
        <div style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">
            <div style="width:31%">
                <a href="/shop/women/5e4cce34d2e7a13e040f4daf">
                    <img src="/img/static/women-tshirt.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/women-footwear.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/women-jeans.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/women-lingerie.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/women-handbags.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/women-onepiece.jpg" style="width: 100%;">
                </a>
            </div>
        </div>
    </div>
</section>

<div class="display-mobile" style="background:#F5F5F6;height:12px;margin:15px 0 0 0;"></div>

<section class="display-mobile" style="margin-top: 18px;">
    <div class="container">
        <div style="font-size:14px;margin-bottom:8px;font-weight:bold;color:#333;">ESSENTIALS FOR MEN</div>
        <div style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">
            <div style="width:31%">
                <a href="/shop/women/5e4cce34d2e7a13e040f4daf">
                    <img src="/img/static/men-tshirt.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/men-shirt.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/men-jeans.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/men-trousers.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/men-innerwear.jpg" style="width: 100%;">
                </a>
            </div>
            <div style="width:31%">
                <a href="">
                    <img src="/img/static/men-footwear.jpg" style="width: 100%;">
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    a {
        color: #000;
    }

    .blog-content {
        padding-top: 28px;
        width: 48%
    }

    @media only screen and (max-width: 600px) {
        .blog-content {
            width: 100%
        }
    }
</style>

<section style="padding-top: 3vh;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div style="background:#ee5f73;color:#fff;font-weight:bold;padding:8px 13px;">
                    ARTICLES
                    <a href="/blogs" style="float: right;"><img src="/img/icon/arrow-white.svg"
                            style="width: 10.5px;"></a>
                </div>

                <center id="content-loading"><img src="/img/loading.svg" style="width:50px;margin:80px 0;"></center>

                <div id="ajax-blog"
                    style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">

                </div>

                <div style="padding:28px 0;" id="ajax-loadmore">

                </div>

                <section class="display-pc" style="margin-top: 9px;font-size:14px;">
                    <div style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">
                        <div style="width:32%;margin-bottom:15px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://cf.shopee.co.th/file/b101f9572b95188fdeedac6036ea4c08"
                                    style="width: 100%;">
                                <div
                                    style="background:#555;opacity:0.7;margin-top: -55px;padding:16px 20px;color:#fff;">
                                    T-shirts/ For Her
                                </div>
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:15px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://cf.shopee.co.th/file/7b5f713cea9cf21082dce548d9dd77f1"
                                    style="width: 100%;">
                                <div
                                    style="background:#555;opacity:0.7;margin-top: -55px;padding:16px 20px;color:#fff;">
                                    T-shirts/ For Him
                                </div>
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:15px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://cf.shopee.co.th/file/2f8576139dd5a31aeb0cacda79fdd1b6"
                                    style="width: 100%;">
                                <div
                                    style="background:#555;opacity:0.7;margin-top: -55px;padding:16px 20px;color:#fff;">
                                    Lingerie/ For Her
                                </div>
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:15px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://cf.shopee.co.th/file/65b1505c09eb7b66ef00034902dc0d23"
                                    style="width: 100%;">
                                <div
                                    style="background:#555;opacity:0.7;margin-top: -55px;padding:16px 20px;color:#fff;">
                                    Inner Wear/ For Her
                                </div>
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:15px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://cf.shopee.co.th/file/cd4c3f86b63bbc483eaa95f5b1897f97"
                                    style="width: 100%;">
                                <div
                                    style="background:#555;opacity:0.7;margin-top: -55px;padding:16px 20px;color:#fff;">
                                    Foot Wear/ For Her
                                </div>
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:15px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://cf.shopee.co.th/file/f171aa23b21b0d99c2df463c38513a27"
                                    style="width: 100%;">
                                <div
                                    style="background:#555;opacity:0.7;margin-top: -55px;padding:16px 20px;color:#fff;">
                                    Foot Wear/ For Him
                                </div>
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:15px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://cf.shopee.co.th/file/cd725fe427e0a90b75965db8f3466e75"
                                    style="width: 100%;">
                                <div
                                    style="background:#555;opacity:0.7;margin-top: -55px;padding:16px 20px;color:#fff;">
                                    Jeans/ For Her
                                </div>
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:15px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://cf.shopee.co.th/file/86a76eb554074a9f3e0e964b8097db44"
                                    style="width: 100%;">
                                <div
                                    style="background:#555;opacity:0.7;margin-top: -55px;padding:16px 20px;color:#fff;">
                                    Bags/ For Her
                                </div>
                            </a>
                        </div>
                        <div style="width:32%;margin-bottom:15px;">
                            <a href="/shop/5e20950e883a3751f8d2ac9c">
                                <img src="https://cf.shopee.co.th/file/22ae9ab75b32dc7651df01304d21e4d7"
                                    style="width: 100%;">
                                <div
                                    style="background:#555;opacity:0.7;margin-top: -55px;padding:16px 20px;color:#fff;">
                                    One Piece/ For Her
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4">
                <div style="background:#444546;color:#fff;font-weight:bold;padding:8px 13px;margin-bottom:28px;">
                    BEST SELLING
                    <a href="/shop/all" style="float: right;"><img src="/img/icon/arrow-white.svg"
                            style="width: 10.5px;"></a>
                </div>

                <center id="content2-loading"><img src="/img/loading.svg" style="width:50px;margin:80px 0;"></center>

                <div id="ajax-similar-pc"
                    style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">

                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="ajax-similar" style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">

    </div>
</section>

<script>
    //load more values
    let limit = 2;
    let skip = 0;

    const loadBlog = () => {
        $.getJSON(`/api/blogs?limit=${limit}&skip=${skip}`, function (data) {
            $('#content-loading').empty();

            console.log(data);

            if (data.size >= limit) {
                $('#ajax-loadmore').empty().append(`<button onclick="loadMore()" id="btn-loadmore"
                    style="width: 100%;background:none;border:1px solid #555;color:#777;font-size:14px;padding:9px 0;">LOAD
                    MORE</button>`);
            } else {
                $("#ajax-loadmore").empty();
            }

            data.blogs.forEach(item => {
                $('#ajax-blog').append(`<div class="blog-content">
                    <a href="/blog/detail/${item.title}">
                        <img src="/blogUploads/${item.file}"
                            style="width: 100%;min-height:80px;background: rgb(255, 237, 243);">
                        <div style="font-size: 14px;margin-top:4px;font-weight:bold;">
                            ${item.title}
                        </div>
                    </a>
                </div>`)
            })
        })
    }

    loadBlog();


    //load more blogs
    const loadMore = () => {
        $('#btn-loadmore').empty().append(`<img src="/img/loader.svg" style="width:18px;">`)

        skip = skip + 2;
        loadBlog();
    }

    //show similar products
    $.getJSON(`/api/product/articles?sortBy=sold&order=desc&limit=6`, function (similarData) {
        $('#content2-loading').empty();

        $.each(similarData, function (i, article) {
            if (mq.matches) {
                $('#ajax-similar-pc').append(`<div style="width: 48%;margin-bottom:19px;border: 1px solid #ddd;">
                        <a href="/shop-detail/${article._id}" style="color:#000;">
                            <img src="/productUploads/${article.file}" style="width: 100%;border-bottom: 1px solid #ddd;">
                            <div style="font-size:13.5px;padding:12px 8px;">
                                <strong>Ives</strong> <br>
                                <div style="color:#555;margin-bottom:4px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">${article.name}</div>
                                <div style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                    <strong>Rs. ${article.price}</strong> <span style="font-size:12px;padding-left:5px;color: #888;text-decoration:line-through;">Rs.
                                    ${article.cutoffprice}</span> <strong style="color:#ff905a;padding-left:5px;font-size:12.5px;">(OFFER)</strong>
                                </div>
                            </div>
                        </a>
                    </div>`)
            } else {
                $('#ajax-similar').append(`<div style="width: 50%;">
                    <a href="/shop-detail/${article._id}" style="color:#000;">
                        <img src="/productUploads/${article.file}" style="width: 100%;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;min-height:190px;background: rgb(244, 255, 249);">
                        <div style="font-size:13.5px;padding:12px 8px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">
                            <strong>Ives</strong> <br>
                            <div style="font-size:12.5px;color:#555;margin-bottom:4px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">${article.name}</div>
                            <div style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                <strong>Rs. ${article.price}</strong> <span style="font-size:11.5px;padding-left:5px;color: #888;text-decoration:line-through;">Rs.
                                ${article.cutoffprice}</span> <strong style="color:#ff905a;padding-left:5px;font-size:12px;">(OFFER)</strong>
                            </div>
                        </div>
                        </a>
                </div>`)
            }
        })
    })
</script>