<style>
    .login-section {
        padding: 50px 0 20px 0;
    }

    .login-wrapper {
        width: 40%;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        padding: 20px 20px;
    }

    @media only screen and (max-width: 600px) {
        .login-section {
            padding: 30px 0 0 0;
        }

        .login-wrapper {
            width: 100%;
            box-shadow: none;
            padding: 0;
        }
    }
</style>

<center>
    <section class="login-section">
        <div class="container-fluid">
            <div class="login-wrapper">
                <div style="margin-bottom:40px;">
                    <img src="/img/register-offer.webp" style="width: 100%;">
                </div>
                <h3 style="font-size:17px;margin-bottom:20px;">PLEASE LOGIN <img src="/img/icon/login-img.svg"
                        style="margin-left:4px;width: 17.5px;position:relative;top:-1px;"></h3>
                <form id="login-form">
                    <input type="email" class="form-control" placeholder="Email"
                        style="font-size: 13px;border-radius:0;padding:21px 10px;margin-bottom:20px;" name="email"
                        required>
                    <input type="password" class="form-control" placeholder="Password"
                        style="font-size: 13px;border-radius:0;padding:21px 10px;margin-bottom:15px;" name="password"
                        required>
                    <div id="login-error" style="text-align: left;color:red;font-size:13px;"></div>
                    <button id="login-btn" class="btn" style="border-radius:0;margin-top:15px;width:100%;background:#FF4747;color:#fff;">LOG IN</button>
                </form>
                <div style="font-size: 13px;margin-top:20px;">
                    <div style="margin-bottom:12px;"><a href="/reset-user" style="color: #FF4747;">Forgot password?</a></div>
                    <div>New to Nepscart? <a href="/user-register" style="color: #FF4747;">Create
                            Account</a></div>
                </div>
            </div>
        </div>
    </section>
</center>

<script>
    function processForm(e) {
        e.preventDefault();

        $('#login-btn').empty().append(`<img src="/img/loader.svg">`)

        $.ajax({
            url: '/api/users/login',
            dataType: 'json',
            type: 'post',
            contentType: 'application/x-www-form-urlencoded',
            data: $(this).serialize(),
            success: function (data, textStatus, jQxhr) {
                console.log(data)

                if (data.loginSuccess === true) {
                    window.location.replace("/my-account");
                } else if (data.loginSuccess === false) {
                    $('#login-btn').empty().append(`LOG IN`)
                    $('#login-error').empty().append(`${data.message}`)
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    $('#login-form').submit(processForm);
</script>