<section class="display-mobile" style="background: #000;color:#fff;font-size:15px;padding-bottom:100px;">
    <img src="https://television-b26f.kxcdn.com/wp-content/uploads/2015/08/netflix-banner.jpg" style="width: 100%;">

    <div class="container">
        <div style="margin-top: 10px;line-height:29px;">
            <div style="font-weight: bold;">70% DISCOUNT on NETFLIX</div>
            <div>Single Screen in Premium Account</div>
            <div>UltraHD/HD/SD - All Supported</div>
            <div>All Devices Supported</div>
            <button style="background: red;color:#fff;border:none;padding:5px 10px;margin-top:7px;" data-toggle="modal"
                data-target="#paymentmodal">GET STARTED</button>
        </div>
    </div>

    <div class="container">
        <div style="margin-top: 48px;">
            <div style="font-weight: bold;">Why Netflix Share?</div>
            <div style="margin-top: 5px;line-height:25px;">Premium Subscription is Expensive, especially if you wish to
                enjoy on Laptop or TV </div>
        </div>
    </div>

    <div class="container">
        <div style="margin-top: 48px;">
            <div style="font-weight: bold;">Subscription at 70% Discount</div>
            <div style="margin-top: 5px;line-height:25px;">We are offering Single screen in a shared Premium
                Subscription which will cost you 70% less price than full subscription.</div>
            <div style="margin-top: 15px;">We are offering Single screen in a shared Premium Subscription which will
                cost you 70% less price than full subscription.</div>
            <div style="margin-top: 15px;">✔ Watch in Ultra HD. [ HD and SD also supported]</div>
            <div style="margin-top: 15px;">✔ Watch on Any Device - Mobile, Laptop, TV etc</div>
            <div style="margin-top: 15px;">✔ Cancel whenever you wish. We won't ask why</div>
        </div>
    </div>
</section>









<section class="display-pc" style="background: #000;color:#fff;padding-top:40px;padding-bottom:40px;text-align:center;">
    <div class="container">
        <img src="https://television-b26f.kxcdn.com/wp-content/uploads/2015/08/netflix-banner.jpg" style="width: 100%;">

        <div style="margin-top: 40px;line-height:29px;">
            <div style="font-weight: bold;">70% DISCOUNT on NETFLIX</div>
            <div>Single Screen in Premium Account</div>
            <div>UltraHD/HD/SD - All Supported</div>
            <div>All Devices Supported</div>
            <button style="background: red;color:#fff;border:none;padding:5px 10px;margin-top:7px;" data-toggle="modal"
                data-target="#paymentmodal">GET
                STARTED</button>
        </div>

        <div style="margin-top: 48px;">
            <div style="font-weight: bold;">Why Netflix Share?</div>
            <div style="margin-top: 15px;line-height:25px;">Premium Subscription is Expensive, especially if you wish
                to
                enjoy on Laptop or TV </div>
        </div>

        <div style="margin-top: 48px;">
            <div style="font-weight: bold;">Subscription at 70% Discount</div>
            <div style="margin-top: 15px;line-height:25px;">We are offering Single screen in a shared Premium
                Subscription
                which will cost you 70% less price than full subscription.</div>
            <div style="margin-top: 15px;">✔ Watch in Ultra HD. [ HD and SD also supported]</div>
            <div style="margin-top: 15px;">✔ Watch on Any Device - Mobile, Laptop, TV etc</div>
            <div style="margin-top: 15px;">✔ Cancel whenever you wish.</div>
        </div>
    </div>
</section>




{{!-- Modal Order --}}
<div class="modal fade" id="paymentmodal" tabindex="-1">
    <div class="modal-dialog" role="document" style="margin:0;">
        <div class="modal-content" style="border-radius:0;border:none;min-height:100vh;">
            <div class="modal-header"
                style="background:#fff;font-size:15px;padding-top:23px;font-weight:bold;color:#3E4152;">
                <div class="modal-title" style="color: red;">NETFLIX SHARE</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1;">
                    <img src="/img/logo.svg" style="width: 19px;">
                </button>
            </div>
            <div class="modal-body" style="background:#000;color:#fff;font-size:15px;">
                <div style="line-height: 28px;text-align:center;">
                    <div>Single Screen in shared Premium Account.</div>
                    <div>UltraHD/HD/SD - All Supported.</div>
                    <div>All Devices Supported.</div>
                    <div style="color: yellow;font-size:18px;">₹ 390/month</div>
                </div>

                <div style="margin-top: 25px;line-height: 28px;">
                    <div style="color: yellow;">Payment Methods</div>
                    <div>1) Esewa</div>
                    <div>2) Khalti</div>
                    <div>3) Mobile Banking</div>
                </div>

                <div style="margin-top: 25px;line-height: 28px;">
                    Pay the amount to the nepscart esewa/khalti id <span style="color: yellow;">9824533413</span> and send us the screenshot on the chat box below
                </div>

                <div  style="margin-top: 25px;line-height: 28px;margin-bottom:70px;">
                    <div>We will message you the login Username and Password after the payment.</div>
                    <div>If you are RENEWing, we will add +30 days from the date of expiry of current subscription.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5e464df0a89cda5a1885ea83/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->