<section style="padding-top:25vh;padding-bottom:20vh;">
    <center>
        <div class="container">
            <strong>CONNECTION ERROR</strong>
            <div style="margin:7px 0 25px 0;">Please turn on your wifi or mobile data</div>
            <button onclick="reloadPage()" style="background:#FF4747;color:#fff;border:none;padding:8px 40px;">RETRY</button>
        </div>
    </center>
</section>

<script>
    const reloadPage = () => {
        window.location.reload();
    }
</script>