<section class="partner-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <p class="partner-title">Reach
                    Nepal's <br> Most Fashion
                    Buyers</p>
                <div>
                    <div style="display:inline-block;background: #FF4747;height:13px;border-radius: 35px;width: 80px;">
                    </div>
                    <div style="display:inline-block;background: #5bcbbd;height:13px;border-radius: 35px;width: 80px;">
                    </div>
                </div>
                <p class="partner-detail">Sell your merchandise on the largest
                    fashion
                    marketplace in the
                    country. Get
                    insights from our team of fashion experts. Sell your merchandise on the largest fashion marketplace
                    in the
                    country. Get
                    insights from our team of fashion experts.</p>
                <div style="margin-bottom: 60px;">
                    <a href="/helpcentre#seller-section"
                        style="font-size: 16px;background:#FF4747;color:#fff;border:none;padding:15px 28px;font-weight:bold;border-radius: 25px;">REGISTER
                        NOW</a>
                </div>
            </div>
            <div class="col-md-5">
                <center>
                    <img src="https://www.sr7.tech/wp-content/uploads/2019/12/design.png" style="width: 80%;">
                </center>
            </div>
        </div>
    </div>
</section>

<section style="background:#f9f9f9;padding:10vh 0;">
    <div class="container-fluid">
        <center style="font-weight: bold;font-size:24px;margin-top:-32px;margin-bottom:32px;">How it <span
                style="color: #FF4747;">works</span></center>

        <div>
            <img src="https://myntrascmuistatic.myntassets.com/partner-assets/unity/partners/img/selling_with_ease.svg"
                style="width: 100%;">
        </div>

        <center>
            <div class="row" style="margin-top:32px;">
                <div class="col-md-3" style="padding:0 55px;margin-bottom:36px;">
                    <div style="font-size:18px;color:#555;"><strong>List</strong></div>
                    <p style="margin-top:17px;font-size:15px;color:#787878;">Go live with your brand with help from our
                        onboarding specialists</p>
                </div>
                <div class="col-md-3" style="padding:0 55px;margin-bottom:36px;">
                    <div style="font-size:18px;color:#555;"><strong>Sell</strong></div>
                    <p style="margin-top:17px;font-size:15px;color:#787878;">Update your inventory and receive orders
                        from our large customer base</p>
                </div>
                <div class="col-md-3" style="padding:0 55px;margin-bottom:36px;">
                    <div style="font-size:18px;color:#555;"><strong>Supply</strong></div>
                    <p style="margin-top:17px;font-size:15px;color:#787878;">Get your merchandise picked up, packed, and
                        shipped for you</p>
                </div>
                <div class="col-md-3" style="padding:0 55px;">
                    <div style="font-size:18px;color:#555;"><strong>Earn</strong></div>
                    <p style="margin-top:17px;font-size:15px;color:#787878;">Grow your brand with regular settlements
                        and working capital support</p>
                </div>
            </div>
        </center>
    </div>
</section>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5e464df0a89cda5a1885ea83/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->