<section style="margin-top: 5vh;text-align: center;">
    <div class="container">
        <div style="margin-bottom:30px;">
            <strong style="font-size: 20px;color:#03A685;">ALL CATEGORIES</strong>
            <div style="font-size: 15px;color:#787878;">A wide cariety of categories for all your fasion needs</div>
        </div>
        <div class="row">
            <div class="col-md-3 col-6" style="margin-bottom: 36px;">
                <a href="/shop/men/all">
                    <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2020/2/13/62659ae5-42d3-404b-bab9-1196370a97ab1581606318718-Just-In-Feb-20-Wrogn---MFB-Just-in-Template.jpg"
                        style="width: 100%;">
                    <div style="font-size: 15px;font-weight:bold;color:#03A685;margin-top:3px;">MENS FASHION</div>
                </a>
            </div>
            <div class="col-md-3 col-6" style="margin-bottom: 36px;">
                <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2020/2/13/88bfecbd-1708-4c07-a06b-ed19d306902c1581606632158-Brand-in-Focus-Feb-20-Sangria---MFB-Just-in-Template.jpg"
                    style="width: 100%;">
                <div style="font-size: 15px;font-weight:bold;color:#03A685;margin-top:3px;">WOMEN FASHION</div>
            </div>
            <div class="col-md-3 col-6" style="margin-bottom: 36px;">
                <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/fe43f2f5-8cc2-460b-9a2f-43d498f81d371563360469249-women_01.jpg"
                    style="width: 100%;">
                <div style="font-size: 15px;font-weight:bold;color:#03A685;margin-top:3px;">ACCESSORIES</div>
            </div>
            <div class="col-md-3 col-6" style="margin-bottom: 36px;">
                <img src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2020/2/17/3b8d1796-37fb-4e35-abbe-40d37854d7d41581934357890-Tresmode-40--to-70--Off_AHPMB_BF.jpg"
                    style="width: 100%;">
                <div style="font-size: 15px;font-weight:bold;color:#03A685;margin-top:3px;">ELECTRONICS</div>
            </div>
        </div>
    </div>
</section>