<section style="padding: 14vh 0 15vh 0;">
    <div class="container">
        <center>
            <img src="https://images.squarespace-cdn.com/content/v1/5c5c3833840b161566b02a76/1573133725500-Y5PCN0V04I86HDAT8AT0/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/WBC_7095.jpg?format=1500w" style="object-fit:cover;width: 150px;height:150px;border-radius:50%;">
            <div style="margin-top: 20px;">
                <strong>Food Delivery Coming <span style="color: #FF4747;">Soon</span>!</strong>
            </div>
            <div style="margin-top: 12px;font-size:15px;">Enjoy your fav food instantly from the comfort of your home or office in <strong>Kathmandu</strong></div>
            <div style="margin-top: 12px;font-size:15px;">For more enquiry, <span style="color: green;font-weight:bold;">nepscart@gmail.com</span></div>
        </center>
    </div>
</section>