<section style="padding: 14vh 0 15vh 0;">
    <div class="container">
        <center>
            <img src="https://moneydotcomvip.files.wordpress.com/2016/05/jet-grocery-delivery.jpg" style="object-fit:cover;width: 150px;height:150px;border-radius:50%;">
            <div style="margin-top: 20px;">
                <strong>Grocery Shopping Coming <span style="color: #FF4747;">Soon</span>!</strong>
            </div>
            <div style="margin-top: 12px;font-size:15px;">Enjoy Shopping your favorite grocery items from the comfort of your home or office</div>
            <div style="margin-top: 12px;font-size:15px;">For more enquiry, <span style="color: green;font-weight:bold;">nepscart@gmail.com</span></div>
        </center>
    </div>
</section>