<style>
    .food-container {
        width: 17%;
        margin-bottom: 40px;
    }

    @media only screen and (max-width: 600px) {
        .food-container {
            width: 49%;
        }
    }
</style>

<section style="padding: 2vh 0 6vh 0;">
    <div class="container">
        <center>
            <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/b20879ab03578cfe1a2174a34de772b0.svg"
                style="width: 300px;">
            <div style="margin-top: 20px;">
                <strong style="color: #FF4747;">12 hours Grocery Delivery</strong>
            </div>
            <div style="margin-top: 12px;font-size:15px;">Enjoy your fav food instantly from the comfort of your home or
                office in <strong>Kathmandu</strong></div>
            <div style="margin-top: 12px;font-size:15px;">Please allow the <span
                    style="color: green;font-weight:bold;">LOCATION PERMISSION</span></div>

            <div>
                <select style="width: 100%;padding:13px 10px;font-size:14px;margin-top:20px;">
                    <option value="">SELECT YOUR CITY</option>
                    <option value="kathmandu">KATHMANDU</option>
                </select>
                <button id="find-food-btn" onclick="findMe()"
                    style="background:green;color:#fff;border:none;padding:10px 10px;font-size:14px;margin-top:25px;">FIND
                    FOOD NEAR ME</button>
            </div>
        </center>
    </div>
</section>

<section id="food-section" style="display: none;">

    <div style="background:#F5F5F6;height:12px;margin:15px 0 0 0;"></div>

    <div class="container">
        <div style="margin:30px 0 30px 0;font-size: 17px;">
            <strong>FREE DELIVERY <br> ON ORDER ABOVE Rs 1000</strong>
        </div>
        <div style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">
            <div class="food-container">
                <img src="https://www.bigbasket.com/media/uploads/p/s/100401162_12-coca-cola-diet-coke-soft-drink-low-calorie.jpg"
                    style="width: 100%;border: 1px solid #ddd;">
                <div style="line-height:19px;border: 1px solid #ddd;padding:10px 7px;border-top:none;">
                    <div style="font-size: 13.5px;"><strong>Milk</strong></div>
                    <div style="font-size: 13.5px;margin-top:4px;">Sugar Free Energy Drink</div>
                    <div style="font-size: 13px;margin-top:7px;">MRP: <strong>Rs 49</strong></div>
                    <div style="font-size: 13px;margin-top:4px;font-weight:bold;">Cashback <span style="color: #FF4747;">Rs 5 on esewa, khalti payment</span></div>
                    <button
                        style="width:100%;background:none;color:green;border:1px solid #ddd;padding:10px 10px;font-size:14px;margin-top:10px;">
                        <strong>SEE DETAILS</strong>
                    </button>
                </div>
            </div>
            <div class="food-container">
                <img src="https://www.bigbasket.com/media/uploads/p/s/100011680_8-nestle-a-nourish-toned-milk.jpg"
                    style="width: 100%;border: 1px solid #ddd;">
                <div style="line-height:19px;border: 1px solid #ddd;padding:10px 7px;border-top:none;">
                    <div style="font-size: 13.5px;"><strong>Milk</strong></div>
                    <div style="font-size: 13.5px;margin-top:4px;">Sugar Free Energy Drink</div>
                    <div style="font-size: 13px;margin-top:7px;">MRP: <strong>Rs 49</strong></div>
                    <div style="font-size: 13px;margin-top:4px;font-weight:bold;">Cashback <span style="color: #FF4747;">Rs 5 on esewa, khalti payment</span></div>
                    <button
                        style="width:100%;background:none;color:green;border:1px solid #ddd;padding:10px 10px;font-size:14px;margin-top:10px;">
                        <strong>SEE DETAILS</strong>
                    </button>
                </div>
            </div>
            <div class="food-container">
                <img src="https://www.bigbasket.com/media/uploads/p/s/104707_7-amul-gold-homogenised-standardised-milk.jpg"
                    style="width: 100%;border: 1px solid #ddd;">
                <div style="line-height:19px;border: 1px solid #ddd;padding:10px 7px;border-top:none;">
                    <div style="font-size: 13.5px;"><strong>Milk</strong></div>
                    <div style="font-size: 13.5px;margin-top:4px;">Sugar Free Energy Drink</div>
                    <div style="font-size: 13px;margin-top:7px;">MRP: <strong>Rs 49</strong></div>
                    <div style="font-size: 13px;margin-top:4px;font-weight:bold;">Cashback <span style="color: #FF4747;">Rs 5 on esewa, khalti payment</span></div>
                    <button
                        style="width:100%;background:none;color:green;border:1px solid #ddd;padding:10px 10px;font-size:14px;margin-top:10px;">
                        <strong>SEE DETAILS</strong>
                    </button>
                </div>
            </div>
            <div class="food-container">
                <img src="https://www.bigbasket.com/media/uploads/p/s/40176629_4-fresho-organic-certified-organic-toned-milk.jpg"
                    style="width: 100%;border: 1px solid #ddd;">
                <div style="line-height:19px;border: 1px solid #ddd;padding:10px 7px;border-top:none;">
                    <div style="font-size: 13.5px;"><strong>Milk</strong></div>
                    <div style="font-size: 13.5px;margin-top:4px;">Sugar Free Energy Drink</div>
                    <div style="font-size: 13px;margin-top:7px;">MRP: <strong>Rs 49</strong></div>
                    <div style="font-size: 13px;margin-top:4px;font-weight:bold;">Cashback <span style="color: #FF4747;">Rs 5 on esewa, khalti payment</span></div>
                    <button
                        style="width:100%;background:none;color:green;border:1px solid #ddd;padding:10px 10px;font-size:14px;margin-top:10px;">
                        <strong>SEE DETAILS</strong>
                    </button>
                </div>
            </div>
            <div class="food-container">
                <img src="https://www.bigbasket.com/media/uploads/p/s/126906_6-aashirvaad-atta-whole-wheat.jpg"
                    style="width: 100%;border: 1px solid #ddd;">
                <div style="line-height:19px;border: 1px solid #ddd;padding:10px 7px;border-top:none;">
                    <div style="font-size: 13.5px;"><strong>Milk</strong></div>
                    <div style="font-size: 13.5px;margin-top:4px;">Sugar Free Energy Drink</div>
                    <div style="font-size: 13px;margin-top:7px;">MRP: <strong>Rs 49</strong></div>
                    <div style="font-size: 13px;margin-top:4px;font-weight:bold;">Cashback <span style="color: #FF4747;">Rs 5 on esewa, khalti payment</span></div>
                    <button
                        style="width:100%;background:none;color:green;border:1px solid #ddd;padding:10px 10px;font-size:14px;margin-top:10px;">
                        <strong>SEE DETAILS</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success(pos) {
        var crd = pos.coords;

        console.log("lat: " + crd.latitude)
        console.log("lon: " + crd.longitude)
    }

    function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    }

    const findMe = () => {
        navigator.geolocation.getCurrentPosition(success, error, options);

        document.getElementById("food-section").style.display = "block";
        $('html, body').animate({
            scrollTop: $("#find-food-btn").offset().top
        }, 500);
    }
</script>