<style>
    body {
        background: #000;
        color: #fff;
    }
</style>

<section style="padding: 3vh 0 8vh 0;line-height:32px;">
    <div class="container">
        <center>
            <img src="https://jobs.netflix.com/static/images/Netflix-Social-Rectangle.png" style="width: 300px;">
            <div style="margin-top: 10px;font-size: 22px;">
                <strong style="color: #FF4747;">NETFLIX SHARE</strong>
            </div>
            <div style="font-size: 17px;">
                <div>70% Discount</div>
                <div>Single Screen in Premium Account</div>
                <div>UltraHD/HD/SD - All Supported</div>
                <div>All Devices Supported</div>
                <button data-toggle="modal" data-target="#netflixmodal"
                    style="margin-top: 10px;background: none;color: #FF4747;border: 1px solid #FF4747;padding:5px 10px;">Get
                    Started</button>
            </div>
        </center>
    </div>
</section>

<section style="line-height:32px;padding-bottom: 80px;">
    <div class="container">
        <div style="color: yellow;font-size: 22px;">
            <center>Subscription at 70% Discount</center>
        </div>
        <div>We are an online community of subscribers who wanna share their joy of watching awesome content with other
            members and split their monthly bills.</div>
        <div>We are offering Single screen in a shared Premium Subscription which will cost you 70% less price than full
            subscription.</div>
        <div><span style="color: yellow;">✔</span> Watch in <span style="color: #FF4747;">Ultra HD. [ HD and SD also
                supported]</span></div>
        <div><span style="color: yellow;">✔</span> Watch on <span style="color: #FF4747;">Any Device</span> - Mobile,
            Laptop, TV etc</div>
        <div style="color: #FF4747;"><span style="color: yellow;">✔</span> No more paying huge subscription fee !</div>
        <div><span style="color: yellow;">✔</span> No more relying on others for sharing monthly cost.</div>
        <div><span style="color: yellow;">✔</span> No inconvenient talk/interaction with subscription owner. We handle
            all the talk.</div>
        <div><span style="color: yellow;">✔</span> Cancel whenever you wish. We won't ask why.</div>
        <div><span style="color: yellow;">✔</span> Full Refunds for genuine issues.</div>
    </div>
</section>



<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5e464df0a89cda5a1885ea83/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->




{{!-- Modal Netflix --}}
<div class="modal fade" id="netflixmodal" tabindex="-1">
    <div class="modal-dialog" role="document" style="margin:0;">
        <div class="modal-content" style="border-radius:0;border:none;min-height:100vh;">
            <div class="modal-header"
                style="background:#000;font-size:17px;padding-top:23px;font-weight:bold;color:#FF4747;">
                <div class="modal-title">NETFLIX SHARE</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1;">
                    <img src="/img/logo.svg" style="width: 19px;">
                </button>
            </div>
            <div class="modal-body" style="line-height:32px;background:#000;color:#fff;font-size:15px;">
                <div>
                    <center>
                        <div>Single Screen in Premium Account</div>
                        <div>UltraHD/HD/SD - All Supported</div>
                        <div>All Devices Supported</div>
                        <div style="color: yellow;font-size:18px;">Rs 450/month</div>
                    </center>
                </div>

                <div style="margin-top: 40px;">
                    <div><span style="color: yellow;">Step 1</span> = Pay the amount via <span style="color: #FF4747;">Esewa, Khalti or Mobile Banking (Online payments are 100% safe)</span></div>
                    <div><span style="color: yellow;">Step 2</span> = Message us the screenshot of the payment in the chat box below</div>
                </div>

                <div style="margin-top: 40px;margin-bottom:80px;">
                    <div>We will message you the <span style="color: yellow;">login Username and Password</span> after the payment.</div>
                    <div>If you are RENEWing, system will add +30 days from the date of expiry of current subscription.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>