<div style="background: #03A685;color:#fff;font-size:14px;padding:4px 0;">
    <center>Prices are inclusive of all taxes </center>
</div>

<div class="page-top display-pc">
    <div class="container-fluid">
        <a href="/" style="font-size:13px;">Home</a> / <a href="/blogs" style="font-size:13px;">Blog</a> / <a
            href="/shop/women/all" style="font-weight: bold;color:#000;font-size:13px;">Women</a>
    </div>
</div>

<section id="desktop-version">
    <div class="container-fluid" style="margin-top:17px;">
        <div class="row">
            <div class="col-md-2">
                <h6 style="font-weight: bold;font-size:14.5px;">FILTERS</h6 style="font-weight: bold;font-size:14.5px;">
            </div>
            <div class="col-md-10">
                <form id="search-form" class="product-searchbox">
                    <input type="text" placeholder="Search for products and brands" id="search">
                    <button><img src="/img/icon/search.svg" style="width: 20px;"></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="padding-right: 0;">
                <div style="border: 1px solid #ddd;padding:20px 0;border-left:none;">
                    <h6 style="font-weight: bold;font-size:14.5px;">SUB CATEGORIES</h6>
                    <div id="ajax-subcategory"></div>
                </div>
                <div style="border: 1px solid #ddd;padding:20px 0;border-left:none;border-top:none;">
                    <h6 style="font-weight: bold;font-size:14.5px;">COLORS</h6>
                    <div id="ajax-color"></div>
                </div>
                <div style="border: 1px solid #ddd;padding:20px 0;border-left:none;border-top:none;">
                    <h6 style="font-weight: bold;font-size:14.5px;">
                        SIZES
                    </h6>
                    <div id="ajax-size"></div>
                </div>
                <div style="border: 1px solid #ddd;padding:20px 0;border-left:none;border-top:none;">
                    <h6 style="font-weight: bold;font-size:14.5px;">SELLERS</h6>
                    <div id="ajax-seller"></div>
                </div>
            </div>
            <div class="col-md-10" style="padding-left: 0;">
                <div style="border-top: 1px solid #ddd;padding:20px 0 20px 20px;">
                    <div id="ajax-loading" style="width: 100%;padding-top:25vh;padding-bottom:25vh;">
                        <center><img src="/img/loading.svg" style="width: 50px;"></center>
                    </div>
                    <div id="ajax-shop"
                        style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">

                    </div>
                    <div id="ajax-loadmore">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="mobile-version">
    <div id="ajax-loading" style="width: 100%;padding-top:25vh;padding-bottom:25vh;">
        <center><img src="/img/loading.svg" style="width: 50px;"></center>
    </div>

    <div id="ajax-shop" style="display: flex;flex-wrap: wrap;flex-direction:row;justify-content:space-between;">

    </div>

    <center>
        <div id="ajax-loadmore" style="margin-top:19px;margin-bottom:65px;">

        </div>
    </center>

    <div class="fixed-bottom" style="background: #fff;">
        <center>
            <div class="row"
                style="border-top:1px solid #ddd;padding: 15px 0;font-size:14px;font-weight:bold;color:#444;">
                <div class="col-6" style="border-right:1px solid #ddd;" data-toggle="modal" data-target="#search-modal">
                    <img src="/img/icon/search-black.svg"
                        style="width:15px;margin-right:8px;position:relative;top:-1.5px;">
                    SEARCH
                </div>
                <div class="col-6" data-toggle="modal" data-target="#filter-modal">
                    <img src="/img/icon/filter.svg" style="width:18px;margin-right:8px;position:relative;top:-1.5px;">
                    FILTER
                </div>
            </div>
        </center>
    </div>

    <div class="modal fade" id="filter-modal" tabindex="-1">
        <div class="modal-dialog" role="document" style="margin:0;">
            <div class="modal-content" style="border-radius:0;border:none;">
                <div class="modal-header" style="padding:20px 16px;">
                    <div style="font-size:14.5px;font-weight:bold;position:relative;top:6px;">
                        <img src="/img/icon/filter.svg"
                            style="width:18px;margin-right:8px;position:relative;top:-1.5px;">
                        FILTERS
                    </div>
                    <button type="button" data-dismiss="modal"
                        style="background: #FF4747;color:#fff;font-size:14.5px;border:none;padding:4px 12px 3px 12px;">
                        APPLY
                    </button>
                </div>
                <div class="modal-body" style="background:#fff;font-size:13.5px;padding-top:0;padding-bottom:0;">
                    <div style="padding:28px 0;">
                        <h6 style="font-weight: bold;font-size:14.5px;">SUB CATEGORIES</h6>
                        <div id="ajax-subcategory" class="row"></div>
                    </div>
                    <div style="background:#F5F5F6;height:12px;position:relative;left:-16px;width: 100vw;"></div>
                    <div style="padding:28px 0;">
                        <h6 style="font-weight: bold;font-size:14.5px;">COLORS</h6>
                        <div id="ajax-color" class="row"></div>
                    </div>
                    <div style="background:#F5F5F6;height:12px;position:relative;left:-16px;width: 100vw;"></div>
                    <div style="padding:28px 0;">
                        <h6 style="font-weight: bold;font-size:14.5px;">
                            SIZES
                        </h6>
                        <div id="ajax-size" class="row"></div>
                    </div>
                    <div style="background:#F5F5F6;height:12px;position:relative;left:-16px;width: 100vw;"></div>
                    <div style="padding:28px 0;">
                        <h6 style="font-weight: bold;font-size:14.5px;">SELLERS</h6>
                        <div id="ajax-seller" class="row"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="search-modal" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius:0;border:none;display:block;">
                <div class="modal-body" style="padding:0;margin-top:28px;">
                    <form id="search-form" class="product-searchbox">
                        <input type="text" placeholder="Search for products and brands" id="search">
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>


{{!-- verlok lazyload --}}
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.5.0/dist/lazyload.min.js"></script>
<script>
    //lazyload initialize
    var lazyLoadInstance = new LazyLoad({
        elements_selector: ".verlok-lazy",
        threshold: 100
    });


    //media queries from nav.handlebars
    if (mq.matches) {
        //make the mobile-version div empty
        document.getElementById('mobile-version').innerHTML = '';
    } else {
        //make the desktop-version div empty
        document.getElementById('desktop-version').innerHTML = '';
    } // media qury ends here


    //load shop =====================
    let limit = 5;
    let skip = 0;
    let search = '';
    let category = ["5e209529883a3751f8d2ac9e"];
    let womensubcategory = [];
    let color = [];
    let size = [];
    let seller = [];

    //category id from the url ===============================
    var url = window.location.pathname;
    var subcategoryId = url.substring(url.lastIndexOf('/') + 1);
    if (subcategoryId == "all") {
        console.log("all");
    } else {
        womensubcategory.push(subcategoryId);
    }

    const loadShop = () => {
        $.ajax({
            url: '/api/product/shop?sortBy=sold',
            dataType: 'json',
            type: 'post',
            contentType: 'application/x-www-form-urlencoded',
            data: {
                limit: limit,
                skip: skip,
                search: search,
                category: category,
                womensubcategory: womensubcategory,
                color: color,
                size: size,
                seller: seller
            },
            success: function (data, textStatus, jQxhr) {
                console.log(data.articles)
                document.getElementById('ajax-loading').style.display = 'none';

                if (data.size >= limit) {
                    $("#ajax-loadmore").empty().append(`<button id="btn-loadmore" onclick="lodMoreProducts()" style="font-size:14px;color:#fff;background: #FF4747;border:none;padding:5px 10px;">Load More</button>`);
                } else {
                    $("#ajax-loadmore").empty();
                }

                if (data.articles.length > 0) {
                    $.each(data.articles, function (i, article) {
                        if (mq.matches) {
                            $('#ajax-shop').append(`<div style="width: 18%;margin-bottom:19px;">
                                <a href="/shop-detail/${article._id}" style="color:#000;">
                                    <img src="/productUploads/${article.file}" style="width: 100%;">
                                    <div style="font-size:13.5px;padding:12px 8px;">
                                        <strong>Ives</strong> <br>
                                        <div style="color:#555;margin-bottom:4px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">${article.name}</div>
                                        <div style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                            <strong>Rs. ${article.price}</strong> <span style="font-size:12px;padding-left:5px;color: #888;text-decoration:line-through;">Rs.
                                            ${article.cutoffprice}</span> <strong style="color:#ff905a;padding-left:5px;font-size:12.5px;">(OFFER)</strong>
                                        </div>
                                    </div>
                                </a>
                            </div>`)
                        } else {
                            $('#ajax-shop').append(`<div style="width: 50%;">
                                <a href="/shop-detail/${article._id}" style="color:#000;">
                                    <img class="verlok-lazy" data-src="/productUploads/${article.file}" style="width: 100%;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;min-height:190px;background: rgb(255, 237, 243);">
                                    <div style="font-size:13.5px;padding:12px 8px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;">
                                        <strong>Ives</strong> <br>
                                        <div style="font-size:12.5px;color:#555;margin-bottom:4px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">${article.name}</div>
                                        <div style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
                                            <strong>Rs. ${article.price}</strong> <span style="font-size:11.5px;padding-left:5px;color: #888;text-decoration:line-through;">Rs.
                                            ${article.cutoffprice}</span> <strong style="color:#ff905a;padding-left:5px;font-size:12px;">(OFFER)</strong>
                                        </div>
                                    </div>
                                 </a>
                            </div>`)

                            //lazyload reinitialize
                            lazyLoadInstance.update();
                        }
                    })
                } else {
                    $('#ajax-shop').append(`<div class="shop-not-found" style="width: 100%;">
                        <div style="font-size:16px;font-weight:bold;">That's it</div>
                        <div style="color: red;font-size:14px;">Try searching something else</div>
                    </div>`);
                }
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })
    }

    loadShop();












    $.getJSON("/api/product/womensubcategories", function (data) {
        $.each(data, function (i, womensubcategory) {
            if (i != 0) {
                $('#ajax-subcategory').append(`<div class="col-6 col-md-12 shop-checkbox" style="font-size: 13px;"><input id="${womensubcategory._id}" type="checkbox" style="margin-top:6px;position:relative;top:2px;" onclick="handleToggleSubcategory('${womensubcategory._id}')"> 
                    <span style="margin-left:4px;">${womensubcategory.name}</span>
                </div>`)
            }

            if (subcategoryId == womensubcategory._id) {
                document.getElementById(womensubcategory._id).checked = true;
            }
        })
    })

    $.getJSON("/api/product/colors", function (data) {
        $.each(data, function (i, color) {
            $('#ajax-color').append(`<div class="col-6 col-md-12 shop-checkbox" style="font-size: 13px;"><input type="checkbox" style="margin-top:6px;position:relative;top:2px;" onclick="handleToggleColor('${color._id}')"> 
                <span class="shop-dot" style="background-color: ${color.name};"></span> ${color.name}
            </div>`)
        })
    })

    $.getJSON("/api/product/sellers", function (data) {
        $.each(data, function (i, seller) {
            $('#ajax-seller').append(`<div class="col-6 col-md-12 shop-checkbox" style="font-size: 13px;"><input type="checkbox" style="margin-top:6px;position:relative;top:2px;" onclick="handleToggleSeller('${seller._id}')"> 
                <span style="margin-left:4px;">${seller.name}</span>
            </div>`)
        })
    })

    $.getJSON("/api/product/sizes", function (data) {
        $.each(data, function (i, size) {
            $('#ajax-size').append(`<div class="col-6 col-md-12 shop-checkbox" style="font-size: 13px;"><input type="checkbox" style="margin-top:6px;position:relative;top:2px;" onclick="handleToggleSize('${size._id}')"> 
                <span style="margin-left:4px;">${size.name}</span>
            </div>`)
        })
    })




    //handletoggle womensubcategory
    const handleToggleSubcategory = (value) => {
        $('#ajax-shop').empty();
        document.getElementById('ajax-loading').style.display = 'block';

        skip = 0;

        const currentIndex = womensubcategory.indexOf(value);
        const newValue = [...womensubcategory];

        if (currentIndex === -1) {
            newValue.push(value)
        } else {
            newValue.splice(currentIndex, 1)
        }

        womensubcategory = newValue;

        loadShop();
    }
    //handletoggle color
    const handleToggleColor = (value) => {
        $('#ajax-shop').empty();
        document.getElementById('ajax-loading').style.display = 'block';

        skip = 0;

        const currentIndex = color.indexOf(value);
        const newValue = [...color];

        if (currentIndex === -1) {
            newValue.push(value)
        } else {
            newValue.splice(currentIndex, 1)
        }

        color = newValue;

        loadShop();
    }
    //handletoggle size
    const handleToggleSize = (value) => {
        $('#ajax-shop').empty();
        document.getElementById('ajax-loading').style.display = 'block';

        skip = 0;

        const currentIndex = size.indexOf(value);
        const newValue = [...size];

        if (currentIndex === -1) {
            newValue.push(value)
        } else {
            newValue.splice(currentIndex, 1)
        }

        size = newValue;

        loadShop();
    }
    //handletoggle seller
    const handleToggleSeller = (value) => {
        $('#ajax-shop').empty();
        document.getElementById('ajax-loading').style.display = 'block';

        skip = 0;

        const currentIndex = seller.indexOf(value);
        const newValue = [...seller];

        if (currentIndex === -1) {
            newValue.push(value)
        } else {
            newValue.splice(currentIndex, 1)
        }

        seller = newValue;

        loadShop();
    }

    //handle search ============================================================================
    const searchProducts = (e) => {
        e.preventDefault();
        $("#ajax-shop").empty();

        document.getElementById('ajax-loading').style.display = 'block';

        skip = 0;
        search = document.getElementById("search").value;

        loadShop();
    }

    $('#search-form').submit(searchProducts);

    //load more products =======================================================================
    const lodMoreProducts = () => {
        $('#btn-loadmore').empty().append(`<img src="/img/loader.svg" style="width:18px;">`)

        skip = skip + 5;
        loadShop();
    }
</script>